{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-bs4\css\dataTables.bootstrap4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css'%}">

<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_bac_si_ca_kham.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">
<link rel="stylesheet" href="{% static  'user/css/style_xat_nhan_lich_kham.css' %}">
<!-- Main Stylesheet -->

<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/include/left_nav_bac_si.html' %} 
        </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
        <div class ="row col-md-12">
            <div class="w-100">
                <div class="page-head">
                    {% include 'user/include/alert.html' %}
                    <h6 class="page-head-title" style = "font-size:20px">Lịch sử khám bệnh</h6>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-sm-12">
                            <div class="card card-table">
                                <div class="card-header">
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped table-hover table-fw-widget" id="table1">
                                        <thead>
                                            <tr>
                                                <th class="text-center" >Id lịch khám</th>
                                                <th class="text-center" >Bênh nhân</th>
                                                <th class="text-center" >Số diện thoại</th>
                                                <th class="text-center" >Ngày sinh</th>
                                                <th class="text-center" >Ngày khám</th>
                                                <th class="text-center" >Giá khám</th>
                                                <th class="text-center">Hoạt động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for lich_kham in lich_khams %}
                                                <tr class="gradeA">
                                                    <td class="text-center">{{lich_kham.id}}</td>
                                                    <td class="text-center">{{lich_kham.hoten}}</td>
                                                    <td class="text-center">{{lich_kham.sdt}}</td>
                                                    <td class="text-center">{{lich_kham.ngaysinh}}</td>
                                                    <td class="text-center">{{lich_kham.ca_kham.ca_kham.ngaykham}}</td>
                                                    <td class="text-center">{{lich_kham.ca_kham.ca_kham.giakham|floatformat:2 }} vnđ</td>
                                                    <td class="text-center"><a class="showDetails" data-id="{{lich_kham.id}}" href="#">Xem chi tiết</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close text-right">&times;</span>
        <h5 class="text-center">Thông tin lịch khám : bác sĩ {{user.hoten}}</h5>
        <div class="container">
            <div class ="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="lich_kham">
                        <div class="lich_kham_item">
                            <div class="lich_kham_img text-center">
                                <img class="img-fluid img-thumbnail" src="{{user.anhdaidien.url}}" alt="">
                            </div>

                            <div class="tab-lich_kham row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="#" id="tab-ttbn" class=" active">Thông tin bệnh nhân</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="#" id="tab-ttlk" class="">Thông tin lịch khám</a>
                                </div>
                            </div>

                            <div id="tab-pain-benh-nhan" class="lich_kham_content  row">
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Bệnh nhân :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id ="ten-benh-nhan">Huỳnh tấn minh</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Số điện thoại :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="sdt" >00000</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Ngày sinh :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="ngay-sinh">17/02/2001</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Giới tính :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gioi-tinh">aa</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Địa chỉ :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="dia-chi">Thành phố đà nẵng, quận hải châu, phường thanh bình 54 hải hồ</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Lý do khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="ly-do-kham">111</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Nhận xét bác sí</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="nhan-xet-bac-si">111</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Đơn thuốc</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="don-thuoc">111</p>
                                </div>
                            </div>
                            <div id="tab-pain-lich-kham" class="lich_kham_content hidden-tab row">
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Ngày khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="ngay-kham">17/02/2001</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p >Giờ bắt đầu :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gio-bat-dau">8H</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Giờ kết thúc :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gio-ket-thuc" >9h</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Giá khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gia-kham">120</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Nơi khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id ="noi-kham">Bệnh viên ung bứu</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Địa chỉ khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="dia-chi-kham">Thành phố đà nẵng, quận hải châu, phường thanh bình 54 hải hồ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'user/js/js_bacsi_lich_su_kham_benh.js' %}"></script>

<script src="{% static 'admin\assets\lib\datatables\datatables.net\js\jquery.dataTables.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-bs4\js\dataTables.bootstrap4.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\dataTables.buttons.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.flash.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\jszip\jszip.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\pdfmake.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\vfs_fonts.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.colVis.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.print.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.html5.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive\js\dataTables.responsive.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js'%}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
      //-initialize the javascript
      App.init();
      App.dataTables();
  });
</script>



<script>
    var tabTtBn = document.getElementById("tab-ttbn");
    var tabTtLk = document.getElementById("tab-ttlk");
    var tabPainBenhNhan = document.getElementById("tab-pain-benh-nhan");
    var tabPainLichKham = document.getElementById("tab-pain-lich-kham");
    tabTtBn.addEventListener("click", function() {  
        tabTtBn.classList.add("active");
        tabTtLk.classList.remove("active");
        tabPainBenhNhan.classList.remove("hidden-tab");
        tabPainLichKham.classList.add("hidden-tab")
    });

    tabTtLk.addEventListener("click", function() {  
        tabTtLk.classList.add("active");
        tabTtBn.classList.remove("active");
        tabPainBenhNhan.classList.add("hidden-tab");
        tabPainLichKham.classList.remove("hidden-tab")
    });
</script>
{% endblock %}

