{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">

<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_bac_si_ca_kham.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">
<link rel="stylesheet" href="{% static 'user/css/style_page_bac_si.css'%}">
<!-- Main Stylesheet -->

<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/include/left_nav_bac_si.html' %} 
        </div>
    </div>
    <div class="container-fluid col-lg-9 col-md-7 col-sm-12">
        <div class="tab-container" style="margin-top:20px">
            <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                <li class="nav-item"><a class="nav-link active " href="#classic_2" data-toggle="tab" role="tab">Thông tin chuyên môn bác sĩ</a></li>
                <li class="nav-item"><a class="nav-link " href="#classic_1" data-toggle="tab" role="tab"> Thông tin cá nhân</a></li>
            </ul>
            <div class="tab-content">
                {% include 'user/include/alert.html' %}
                <div class="tab-pane " id="classic_1" role="tabpanel">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class ="row col-lg-12 col-md-12">
                                    <div class="">
                                        <div class="card card-border-color card-border-color-primary">
                                            <div class="card-header card-header-divider">Thông tin cá nhân</div>
                                            <br>
                                            <div class="card-body">
                                                <form action="{% url "bacsi_cap_nhap_ho_so" %}" data-parsley-validate="" novalidate="" method="POST" enctype='multipart/form-data'>
                                                    {% csrf_token %}
                                                    <div class ="row">
                                                        <div class="col-lg-7">
                                                            <div class="form-group">
                                                                <label for="inputten">Họ và tên</label>
                                                                <input class="form-control" id="inputten" type="text" name="ho_ten" value="{{bac_si.full_info.user.hoten}}"  required parsley-trigger="change" placeholder="Nhập tên của bạn" autocomplete="off" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputMoTa">Số điện thoại</label>
                                                                <input class="form-control" id="inputsdt" type="text" name="sdt" value="{{bac_si.full_info.user.sdt}}" required parsley-trigger="change" required placeholder="Nhập số điện thoại" autocomplete="off" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputMoTa">Email</label>
                                                                <input class="form-control" id="inputemail" type="email" name="email" value = "{{bac_si.full_info.user.email}}" parsley-trigger="change" required= placeholder="Nhập email" autocomplete="off" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputNgaysinh">Ngày sinh</label>
                                                                <input class="form-control" id="inpuNgaysinh" type="date" name="ngay_sinh" value = "{{user.ngaysinh|date:'Y-m-d'}}" parsley-trigger="change" required placeholder="Nhập email" autocomplete="off" />
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-12 col-sm-3">Giới tính</label>
                                                                <div class="col-12 col-sm-8 col-lg-6">
                                                                    <label class="custom-control custom-radio custom-radio-icon custom-control-inline">
                                                                    <input class="custom-control-input" id="radioIcon1" type="radio" name="gioi_tinh" value="0" {% if bac_si.full_info.user.gioitinh == 0  %} checked= {%endif%}><span class="custom-control-label"><i class="mdi mdi-female" style="width:50px; height:50px;"></i></span>
                                                                    </label>
                                                                    <label class="custom-control custom-radio custom-radio-icon custom-control-inline">
                                                                    <input class="custom-control-input" id="radioIcon2" type="radio" name="gioi_tinh" value="1" {% if bac_si.full_info.user.gioitinh == 1  %} checked= {%endif%} ><span class="custom-control-label"><i class="mdi mdi-male-alt"  style="width:50px; height:50px;"></i></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <div class="text-center">
                                                                <label for="inputtenKhoa">Ảnh đại diện</label>
                                                            </div>
                                                            <div class="image_add form-group">
                                                                <div class="preview">
                                                                <img id="img-preview" src="{{bac_si.full_info.user.anhdaidien}}" />
                                                                <label class="label_input" for="file-input">Chọn ảnh đại diện</label>
                                                                <input accept="image/*" type="file" id="file-input" value = {{bac_si.full_info.user.anhdaidien}}  name="image_anhdaiien" />
                                                                </div>
                                                            </div>
                                                        </div>
                            
                                                        <div class="form-group col-lg-12" >
                                                            <button class="btn btn-primary" type="submit" style="width:100%;">Lưu</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="tab-pane active" id="classic_2" role="tabpanel">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class ="row col-lg-12 col-md-12">
                                    <div class="">
                                        <div class="card card-border-color card-border-color-primary">
                                            <div class="card-header card-header-divider">Thông tin chuyên môn</div>
                                            <div class="card-body">
                                                <form id="form" method="POST" enctype='multipart/form-data' action="{% url 'bacsi_cap_nhap_ho_so_bac_si' %}" data-parsley-validate=""  class="needs-validation" novalidate>
                                                    {% csrf_token %}
                                                    <div class="card-header card-header-divider"><h4 class="text-center">Thông tin bác sĩ</h4></div>
                                                    <div class="card-body" style="margin-top:20px">
                                                        <div class="row form-bac-si">
                                                            <div class="form-group col-md-6">
                                                                <label for="inputUserName">Chức vụ</label>
                                                                <input class="form-control"  type="text" name="chucvu" value="{{bac_si.chucvu}}" required placeholder="Chức vụ của bác sĩ" autocomplete="off">
                                                                <div class="invalid-feedback">
                                                                    Không thể để trống
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputChuyenKhoa">Khoa</label>
                                                                <select name="chyenkhoa" class="form-control">
                                                                    <option value="#">chọn chuyên khoa</option>
                                                                    {% for chuyen_khoa in chuyen_khoas%}
                                                                        <option value="{{chuyen_khoa.id}}" {% if bac_si.chuyenkhoa == chuyen_khoa.id %} selected {% endif %}  >{{chuyen_khoa.tenkhoa}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputHocham">Học hàm</label>
                                                                <select class="form-control" id="hocham"  name="hocham">
                                                                    <option  value="0">--Chọn học hàm--</option>
                                                                    <option value="1" {% if bac_si.hocham == "Phó giáo sư" %} selected{% endif %} >Phó giáo sư</option>
                                                                    <option value="2" {% if bac_si.hocham == "Giáo sư" %} selected{% endif %} > Giáo sư</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputhocvi">Học vị</label>
                                                                <select class="form-control" name="hocvi">
                                                                    <option  value="0">--Chọn học vị--</option>
                                                                    <option value="1" {% if bac_si.hocvi == "Thạc sĩ" %} selected{% endif %} >Thạc sĩ</option>
                                                                    <option value="2" {% if bac_si.hocvi == "Tiến sĩ" %} selected{% endif %} >Tiến sĩ</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputGioithieu">Giới thiệu (Giới thiệu ngắn về bản thân bác sĩ : 100 từ)</label>
                                                                <textarea class="form-control" name="gioithieu" rows="5" required>{{bac_si.gioithieu}}</textarea>
                                                                <div class="invalid-feedback">
                                                                    Vui lòng thêm giới thiệu
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputEmail">Thông tin thêm </label>
                                                                <textarea name="thongtinchung" class="ckeditor" class="" cols="30" rows="10" >{{bac_si.thongtinchung}}</textarea>
                                                                <div class="invalid-feedback">
                                                                    Vui lòng thêm thông tin 
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label for="inputEmail">Phòng khám</label>
                                                                <select class="form-control" name="phongkham">
                                                                        <option value="{{phong_kham.id}}">{{bac_si.full_info.phongkham.tenphongkham}}</option>
                                                                    </select>
                                                            </div>
                                                            <div class='form-group col-md-12'>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input class="custom-control-input" type="checkbox"  id="phong_kham_new" name ="phong_kham_new">
                                                                    <label class="custom-control-label" for="phong_kham_new">Xem chi tiết phòng khám</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class ="dk_phong_kham" id="dk_phong_kham">
                                                        <div class="card-header card-header-divider"><h4 class="text-center">Thông tin phóng khám đăng kí</h4></div>
                                                        <div class="card-body" style="margin-top:20px">
                                                            <div class="row form-phong-kham">
                                                                <div class="form-group col-md-6">
                                                                    <label for="inputUserName">Tên phòng khám</label>
                                                                    <input class="form-control"  type="text" name="ten_phong_kham" id="ten_phong_kham" disabled value="{{bac_si.full_info.phongkham.tenphongkham}}">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="inputUserName">Số điện thoại</label>
                                                                    <input class="form-control"  type="number" name="sdt_phong_kham" id="sdt_phong_kham" disabled value={{bac_si.full_info.phongkham.sdt}} >
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="inputUserName">Email</label>
                                                                    <input class="form-control"  type="email" name="email_phong_kham" id="email_phong_kham" disabled value="{{bac_si.full_info.phongkham.email}}">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="inputUserName">Địa chỉ phòng khám</label>
                                                                    <input class="form-control"  type="text" name="dia_chi_phong_kham" id="diachi_phong_kham" disabled value="{{bac_si.full_info.phongkham.diachi}}" >
                                                                </div>
                                                                
                                                               
                                                                <div class="form-group col-md-12">
                                                                    <label for="inputtenKhoa">Ảnh phòng khám</label>
                                                                    <div class="image_add form-group">
                                                                        <div class="preview text-center">
                                                                            <img id="img-preview" src="{{bac_si.full_info.phongkham.logo}}" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-12" >
                                                        <button class="btn btn-space btn-primary" type="submit">Cập nhập bác sĩ</button>
                                                        <br>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>






<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\js_custom.js'%}"></script>
<script src="{% static 'user\js\js_bac_si.js'%}"></script> 

<script>
    ClassicEditor
        .create( document.querySelector( 'textarea[name="thongtinchung"]' ) )
        .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );

  </script>
{% endblock %}

