{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">

<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_bac_si_ca_kham.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">
<!-- Main Stylesheet -->

<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/include/left_nav_bac_si.html' %} 
        </div>
    </div>
    <div class="container-fluid col-lg-9 col-md-7 col-sm-12">
        <div class ="row col-md-12">
            <div class="w-100">
                <div class="page-head">
                    {% include 'user/include/alert.html' %}
                    <h2 class="page-head-title">Bac sĩ Huỳnh Tấn Minh</h2>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb page-head-nav">
                            <li class="breadcrumb-item"><a href="{% url 'bacsi_dang_ki_ca_kham' %}">Đăng kí ca khám</a></li>
                            <li class="breadcrumb-item active">Cập nhập ca khám</li>
                        </ol>
                    </nav>
                </div>
                <div class="main-content container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-sm-12">
                            <div class="card card-table">
                                <div class="container">
                                    <div id="them-ca-kham" class="them-ca-kham" style ="display:block">
                                        <div class="content" id="add-ca-kham">
                                            <form id="form" method="POST" enctype='multipart/form-data' action="{% url 'bacsi_chinh_sua_ca_kham' ca_kham.id %}" data-parsley-validate=""  class="needs-validation" novalidate>
                                                {% csrf_token %}
                                                <div class="card-header card-header-divider"><h4 class="text-center">Thông tin ca khám</h4></div>
                                                <div class="card-body">
                                                    <div class="row form-bac-si">
                                                        <div class="form-group col-md-6" style="display:none">
                                                            <input class="form-control"  type="text" value="{{ca_kham.id}}" name="id_ca_kham" required >
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Ngày khám</label>
                                                            <input class="form-control"  type="date" value="{{ca_kham.ngaykham}}" name="ngay_kham" required placeholder="Ngày khám bệnh" autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Giá khám (Mặc định 150.000vnđ)</label>
                                                            <input class="form-control"  value = "{{ca_kham.giakham}}"  type="text" name="gia_kham" required placeholder="Chọn giá khám" autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Giờ bắt đầu</label>
                                                            <input class="form-control"  type="time" name="gio_bat_dau" value ={{ca_kham.thoigianbatdau}}  autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Giờ kết thúc</label>
                                                            <input class="form-control"  type="time" name="gio_ket_thuc" value = {{ca_kham.thoigiakethuc}}  autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-lg-12 text-right">
                                                            <button class="btn btn-space btn-primary" type="submit">Cập nhập ca khám</button>
                                                            <br>
                                                            <br>
                                                            <br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>

{% endblock %}

