{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">

<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_bac_si_ca_kham.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">
<!-- Main Stylesheet -->

<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/include/left_nav_bac_si.html' %} 
        </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
        <div class ="row col-md-12">
            <div class="w-100">
                <div class="page-head">
                    {% include 'user/include/alert.html' %}
                    <h6 class="page-head-title" style = "font-size:20px">Đăng kí ca khám</h6>
                </div>
                <div>
                    <div class="row">
                        <div class="col-12 col-lg-12 col-sm-12">
                            <div class="tab-container">
                                <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                                    {% for day in days %}
                                        <li class="nav-item"><a class="nav-link {% if day.1 == today %} active {% endif %}" href="#classic_{{day.1}}" data-toggle="tab" role="tab"> {% if day.0 == 8 %} Chủ nhật {%else%} Thứ {{day.0}} {% endif %}<br/> {{day.1}}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for ngay, cac_ca_kham in ca_khams.items %}
                                        <div class="tab-pane {% if ngay == today %} active {% endif %}" id="classic_{{ngay}}" role="tabpanel">
                                            <div class="card card-table">
                                                <div class="card-body">
                                                    <table class="table table-striped table-hover table-fw-widget" id="table1">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" >ID ca khám</th>
                                                                <th class="text-center" >Ngày khám</th>
                                                                <th class="text-center" >Giờ bắt đầu</th>
                                                                <th class="text-center" >Giờ kết thúc</th>
                                                                <th class="text-center" >Giá khám</th>
                                                                <th class="text-center" >Tình Trạng</th>
                                                                <th class="text-center">Hoạt động</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for ca_kham in cac_ca_kham %}
                                                                <tr class="gradeA">
                                                                    <td class="text-center">{{ca_kham.id}}</td>
                                                                    <td class="text-center">{{ca_kham.ngaykham}}</td>
                                                                    <td class="text-center">{{ca_kham.thoigianbatdau}}</td>
                                                                    <td class="text-center">{{ca_kham.thoigiakethuc}}</td>
                                                                    <td class="text-center">{{ca_kham.giakham}} vnđ</td>
                                                                    <td class="text-center">
                                                                        <select name="" id="" class="btn btn-secondary" style="padding:7px 0">
                                                                            <option value="trong"  {% if ca_kham.tinhtrang == "trong" %} selected {%endif%} >Trống</option>
                                                                            <option value="colich" {% if ca_kham.tinhtrang == "lich" %} selected {%endif%}>Có Đăng kí</option>
                                                                            <option value="colich" {% if ca_kham.tinhtrang == "danhan" %} selected {%endif%}>Đã nhận lịch</option>
                                                                            <option value="dakham" {% if ca_kham.tinhtrang == "dakham" %} selected {%endif%}>Đã khám</option>
                                                                            <option value="quahan" {% if ca_kham.tinhtrang == "quahan" %} selected {%endif%}>Quá hạn</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="actions">
                                                                        <a class="icon" href="{% url 'bacsi_xoa_ca_kham' ca_kham.id %}" style="color:red"><i class="mdi mdi-delete"></i></a>
                                                                        &emsp;
                                                                        <a class="icon" href="{% url 'bacsi_chinh_sua_ca_kham' ca_kham.id %}"><i class="mdi mdi-settings"></i></a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <br>
                                                <div id="add-nhanh-ca-kham" class="add-nhanh-ca-kham">
                                                    <form action="{% url 'bacsi_ca_kham' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="form-group col-md-3">
                                                                <input class="form-control"  type="date" name="ngay_kham_nhanh" required  value="{{ngay}}">
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <input class="form-control"  type="number" name="gia_kham_nhanh" required  value="120000">
                                                            </div>
                                                            <div class="form-group col-md-6 text-right">
                                                                <button type="submit" id="btn-them-nhanh" class="btn btn-primary" >Thêm nhanh </button>
                                                            </div>
                                                            <div class="ca-kham-nhanh text-center form-group col-lg-12 col-md-12 col-sm-12">
                                                                {% for ngay_kham, data in tg_chua_co_ca_kham.items %}
                                                                    {% if ngay_kham == ngay %}
                                                                        {% for key, value in data.items %}
                                                                            <button type="button" class="btn custom-checkbox  {% if value.2 == 2%}hidden{% endif %}" for="checkbox{{ngay_kham}}{{key}}"   onclick="toggleCheckbox(this)">{{value.0}} - {{value.1}}</button>
                                                                            <input type="checkbox" name="ca{{ngay_kham}}{{key}}" id="checkbox{{ngay_kham}}{{key}}" class="hidden-checkbox {% if value.2 == 2%}hidden{% endif %}">
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class='form-group col-md-12'>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox"  id="ca-kham-new" name ="ca-kham-new">
                                            <label class="custom-control-label" for="ca-kham-new">Thêm thủ công</label>
                                        </div>
                                    </div>
                                    <div id="them-ca-kham" class="them-ca-kham">
                                        <div class="content" id="add-ca-kham">
                                            <form id="form" method="POST" enctype='multipart/form-data' action="{% url 'bacsi_dang_ki_ca_kham' %}" data-parsley-validate=""  class="needs-validation" novalidate>
                                                {% csrf_token %}
                                                <div class="card-header card-header-divider"><h4 class="text-center">Thông tin ca khám</h4></div>
                                                <div class="card-body">
                                                    <div class="row form-bac-si">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Ngày khám</label>
                                                            <input class="form-control"  type="date" name="ngay_kham" required placeholder="Ngày khám bệnh" autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Giá khám (Mặc định 150.000vnđ)</label>
                                                            <input class="form-control" value ="150000"  type="text" name="gia_kham" required placeholder="Chọn giá khám" autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Giờ bắt đầu</label>
                                                            <input class="form-control"  type="time" name="gio_bat_dau"  autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputUserName">Giờ kết thúc</label>
                                                            <input class="form-control"  type="time" name="gio_ket_thuc"  autocomplete="off">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-12" >
                                                    <button class="btn btn-space btn-primary" type="submit">Thêm ca </button>
                                                    <br>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>

<script>
    function toggleCheckbox(button) {
    const checkboxId = button.getAttribute("for");
    const checkbox = document.getElementById(checkboxId);
    checkbox.checked = !checkbox.checked;
    button.classList.toggle("active");
    }
</script>
<script >
    const themCaKham = document.getElementById('them-ca-kham');
// Lấy các phần tử input checkbox
    const caKhamNew = document.getElementById('ca-kham-new');

    caKhamNew.addEventListener('change', () => {
        if (caKhamNew.checked) {
            // Nếu checkbox Option 1 được chọn, hiển thị danh sách các phòng khám tương ứng
            themCaKham.style.display = 'block';
        } else {
            themCaKham.style.display = 'none';
        }
    });
</script>


{% endblock %}

