{% extends 'admin_ad/base.html' %}
{% load static %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-bs4\css\dataTables.bootstrap4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css">


<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Quản Lý Bác Sĩ</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item"><a href="#">Quản lý tài khoản</a></li>
                <li class="breadcrumb-item active">Quản lý Bác Sĩ</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-table">
                    <div class="card-header">Bác Sĩ
                      <div class="tools dropdown"><span class="icon mdi mdi-download"></span><a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"><span class="icon mdi mdi-more-vert"></span></a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped table-hover table-fw-widget" id="table1">
                        <thead>
                          <tr>
                            <th>User</th>
                            <th>Điện thoại</th>
                            <th>Email</th>
                            <th>Ngày Sinh</th>
                            <th>Chuyên Khoa</th>
                            <th>Phòng Khám</th>
                            <th>Trạng Thái</th>
                            <th>Hành Động</th>
                          </tr>
                        </thead>
                        <tbody>
  
                          <tr class="gradeA">
                            <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar6.png'%} " alt="Avatar"><span>User Name</span><span class="cell-detail-description">Tên Thật</span></td>
                            <td>0987654321</td>
                            <td>minhtandz951@gmail.com</td>
                            <td>17/02/2001</td>
                            <td class="center">Tai Mũi Họng</td>
                            <td class="center">Phòng khám số 1</td>
                            <td>
                                <select name="" id="" class="btn btn-secondary" style="padding:7px 0">
                                    <option value="1">Đang khóa</option>
                                    <option value="2">Hoạt động</option>
                                </select>
                            </td>
                            <td class="actions">
                                <a class="icon" href="#"><i class="mdi mdi-settings"></i></a>
                            </td>
                            
                          </tr>
                          <tr class="gradeA">
                            <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar6.png'%} " alt="Avatar"><span>User Name</span><span class="cell-detail-description">Tên Thật</span></td>
                            <td>0987654321</td>
                            <td>minhtandz951@gmail.com</td>
                            <td>17/02/2001</td>
                            <td class="center">Tai Mũi Họng</td>
                            <td class="center">Phòng khám số 1</td>
                            <td>
                                <select name="" id="" class="btn btn-secondary" style="padding:7px 0">
                                    <option value="1">Đang khóa</option>
                                    <option value="2">Hoạt động</option>
                                </select>
                            </td>
                            <td class="actions">
                                <a class="icon" href="#"><i class="mdi mdi-settings"></i></a>
                            </td>
                            
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>


                {% comment %} <div class="card card-table">
                   
                    <div class="card-body">
                        <div class="noSwipe">
                            <table class="table table-striped table-hover be-table-responsive" id="table1">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check5">
                                                <label class="custom-control-label" for="check5"></label>
                                            </div>
                                        </th>
                                        <th style="width:20%;">User</th>
                                        <th style="width:17%;">Last Commit</th>
                                        <th style="width:15%;">Milestone</th>
                                        <th style="width:10%;">Branch</th>
                                        <th style="width:10%;">Date</th>
                                        <th style="width:10%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="success done">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check6">
                                                <label class="custom-control-label" for="check6"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar6.png'%} " alt="Avatar"><span>Penelope Thornton</span><span class="cell-detail-description">Developer</span></td>
                                        <td class="cell-detail" data-project="Bootstrap"><span>Initial commit</span><span class="cell-detail-description">Bootstrap Admin</span></td>
                                        <td class="milestone" data-progress="0,45"><span class="completed">8 / 15</span><span class="version">v1.2.0</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 45%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>master</span><span class="cell-detail-description">63e8ec3</span></td>
                                        <td class="cell-detail"><span class="date">May 6, 2018</span><span class="cell-detail-description">8:30</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Done <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="primary to-do">
                                        <td data-status="in-progress">
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check7">
                                                <label class="custom-control-label" for="check7"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{%static 'admin\assets\img\avatar4.png'%}" alt="Avatar"><span>Benji Harper</span><span class="cell-detail-description">Designer</span></td>
                                        <td class="cell-detail" data-project="CLI"><span>Main structure markup</span><span class="cell-detail-description">CLI Connector</span></td>
                                        <td class="milestone" data-progress="0,75"><span class="completed">22 / 30</span><span class="version">v1.1.5</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 75%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>develop</span><span class="cell-detail-description">4cc1bc2</span></td>
                                        <td class="cell-detail"><span class="date">April 22, 2018</span><span class="cell-detail-description">14:45</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">To Do <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="danger in-review">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check8">
                                                <label class="custom-control-label" for="check8"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar5.png'%}" alt="Avatar"><span>Justine Myranda</span><span class="cell-detail-description">Designer</span></td>
                                        <td class="cell-detail" data-project="Back-end"><span>Left sidebar adjusments</span><span class="cell-detail-description">Back-end Manager</span></td>
                                        <td class="milestone" data-progress="0,33"><span class="completed">10 / 30</span><span class="version">v1.1.3</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 33%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>develop</span><span class="cell-detail-description">5477993</span></td>
                                        <td class="cell-detail"><span class="date">April 15, 2018</span><span class="cell-detail-description">10:00</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">In review <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="warning in-progress">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check9">
                                                <label class="custom-control-label" for="check9"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar3.png'%}" alt="Avatar"><span>Sherwood Clifford</span><span class="cell-detail-description">Developer</span></td>
                                        <td class="cell-detail" data-project="Bootstrap"><span>Topbar dropdown style</span><span class="cell-detail-description">Bootstrap Admin</span></td>
                                        <td class="milestone" data-progress="0,55"><span class="completed">25 / 40</span><span class="version">v1.0.4</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 55%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>master</span><span class="cell-detail-description">8cb98ec</span></td>
                                        <td class="cell-detail"><span class="date">April 8, 2018</span><span class="cell-detail-description">17:24</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">In progress <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="primary to-do">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check10">
                                                <label class="custom-control-label" for="check10"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar.png' %}" alt="Avatar"><span>Kristopher Donny</span><span class="cell-detail-description">Designer</span></td>
                                        <td class="cell-detail" data-project="CLI"><span>Right sidebar adjusments</span><span class="cell-detail-description">CLI Connector</span></td>
                                        <td class="milestone" data-progress="0,98"><span class="completed">38 / 40</span><span class="version">v1.0.1</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 98%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>master</span><span class="cell-detail-description">65bc2da</span></td>
                                        <td class="cell-detail"><span class="date">March 18, 2018</span><span class="cell-detail-description">13:02</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">To Do <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="danger in-review">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check11">
                                                <label class="custom-control-label" for="check11"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img src="{% static 'admin\assets\img\avatar6.png'%}" alt="Avatar"><span>Justin Adams</span><span class="cell-detail-description">Developer</span></td>
                                        <td class="cell-detail" data-project="CLI"><span>Topbar dropdown style</span><span class="cell-detail-description">CLI Connector</span></td>
                                        <td class="milestone" data-progress="0,25"><span class="completed">15 / 70</span><span class="version">v1.0.4</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 25%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>master</span><span class="cell-detail-description">8cb98ec</span></td>
                                        <td class="cell-detail"><span class="date">Jun 2, 2018</span><span class="cell-detail-description">17:24</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">In review <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="primary to-do">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check12">
                                                <label class="custom-control-label" for="check12"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img src="{% static 'admin\assets\img\avatar4.png'%}" alt="Avatar"><span>Ryan Lawrence</span><span class="cell-detail-description">Designer</span></td>
                                        <td class="cell-detail" data-project="Back-end"><span>Main structure</span><span class="cell-detail-description">Back-end Manager</span></td>
                                        <td class="milestone" data-progress="0,80"><span class="completed">30 / 34</span><span class="version">v1.1.5</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 80%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>develop</span><span class="cell-detail-description">4cc1bc2</span></td>
                                        <td class="cell-detail"><span class="date">Jan 22, 2018</span><span class="cell-detail-description">14:45</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">To Do <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="warning in-progress">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check13">
                                                <label class="custom-control-label" for="check13"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img src="{% static 'admin\assets\img\avatar5.png'%}" alt="Avatar"><span>Benji Miller</span><span class="cell-detail-description">Designer</span></td>
                                        <td class="cell-detail" data-project="Bootstrap"><span>Left sidebar adjusments</span><span class="cell-detail-description">Bootstrap Admin</span></td>
                                        <td class="milestone" data-progress="0,63"><span class="completed">25 / 43</span><span class="version">v1.1.3</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 63%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>develop</span><span class="cell-detail-description">5477993</span></td>
                                        <td class="cell-detail"><span class="date">May 10, 2018</span><span class="cell-detail-description">10:00</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">In progress <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="success done">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check14">
                                                <label class="custom-control-label" for="check14"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar3.png'%}" alt="Avatar"><span>John Peterson</span><span class="cell-detail-description">Developer</span></td>
                                        <td class="cell-detail" data-project="CLI"><span>Initial commit</span><span class="cell-detail-description">CLI Connector</span></td>
                                        <td class="milestone" data-progress="0,7"><span class="completed">3 / 20</span><span class="version">v1.2.0</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 7%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>master</span><span class="cell-detail-description">63e8ec3</span></td>
                                        <td class="cell-detail"><span class="date">April 6, 2018</span><span class="cell-detail-description">8:30</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Done <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link	</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="primary to-do">
                                        <td>
                                            <div class="custom-control custom-control-sm custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="check15">
                                                <label class="custom-control-label" for="check15"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar.png'%}" alt="Avatar"><span>Brett Harris</span><span class="cell-detail-description">Designer</span></td>
                                        <td class="cell-detail" data-project="Bootstrap"><span>Right sidebar adjusments</span><span class="cell-detail-description">Bootstrap Admin</span></td>
                                        <td class="milestone" data-progress="0,15"><span class="completed">7 / 50</span><span class="version">v1.0.1</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary" style="width: 15%;"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>master</span><span class="cell-detail-description">65bc2da</span></td>
                                        <td class="cell-detail"><span class="date">Jun 10, 2018</span><span class="cell-detail-description">13:02</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">To Do <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net\js\jquery.dataTables.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-bs4\js\dataTables.bootstrap4.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\dataTables.buttons.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.flash.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\jszip\jszip.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\pdfmake.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\vfs_fonts.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.colVis.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.print.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.html5.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive\js\dataTables.responsive.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js'%}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
      //-initialize the javascript
      App.init();
      App.dataTables();
  });
</script>

{% endblock content%}