{% load static %}
<nav class="navbar navbar-expand fixed-top be-top-header" >
    <div class="container-fluid">
      <div class="be-navbar-header"><a class="navbar-brand" href="index.html"></a>
      </div>
      <div class="page-title">
        <ul class="top-bar-info list-inline-item pl-0 mb-0 ul_user">
          <li class="list-inline-item"><a href="mailto:support@gmail.com"><i class="icofont-support-faq mr-2"></i>minhtandz951@gmail.com</a></li>
          <li class="list-inline-item"><a href="tel:+23-345-67890"><i class="icofont-phone mr-2"></i>0334462487</li></a>
        </ul>
      </div>
      <div class="be-right-navbar">
        <ul class="nav navbar-nav float-right be-user-nav">
          {% if user.id is None %}
          <li class="nav-item ">
            <a class="nav-link btn a-dndk" href="{% url 'login' %}"></span>Đăng nhập</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link btn a-dndk" href="{% url 'register' %}"></span>Đăng Kí</a>
          </li>
          {%else%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
              <img src="{{ user.imageURL }}" alt="Avatar">
              <span class="user-name">{{user.hoten}}</span>
            </a>
            <div class="dropdown-menu" role="menu">    
              <div class="user-info">
                  <div class="user-name">
                  {% if user.hoten is None %}
                    {{user.username}}
                  {% else %}
                    {{user.hoten}}
                  {% endif %}
                  </div>
                  <div class="user-position online">Available</div>
              </div>
                  <a class="dropdown-item" href="{% url 'user_dash_board' %}"><span class="icon mdi mdi-account"></span>Tài khoản</a>
                  {% if user.is_bacsi == 1 %}
                  <a class="dropdown-item" href="{% url 'bacsi_ca_kham' %}"> <i class="icon mdi icofont-doctor"></i></span>Tài khoản bác sĩ</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'bacsi_dang_ki_bac_si' %}"> <i class="icon mdi icofont-doctor"></i></span>Đăng kí bác sĩ</a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'logout' %}"><span class="icon mdi mdi-power"></span>Đăng xuất</a>
            </div>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav float-right be-icons-nav">
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
            <ul class="dropdown-menu be-notifications">
              <li>
                <div class="title">Notifications<span class="badge badge-pill">3</span></div>
                <div class="list">
                  <div class="be-scroller-notifications">
                    <div class="content">
                      <ul>
                        <li class="notification notification-unread"><a href="#">
                            <div class="image"><img src="{% static 'admin\assets\img\avatar2.png' %}" alt="Avatar"></div>
                            <div class="notification-info">
                              <div class="text"><span class="user-name">Jessica Caruso</span> accepted your invitation to join the team.</div><span class="date">2 min ago</span>
                            </div></a></li>
                        <li class="notification"><a href="#">
                            <div class="image"><img src="{% static 'admin\assets\img\avatar3.png' %}" alt="Avatar"></div>
                            <div class="notification-info">
                              <div class="text"><span class="user-name">Joel King</span> is now following you</div><span class="date">2 days ago</span>
                            </div></a></li>
                        <li class="notification"><a href="#">
                            <div class="image"><img src="{% static 'admin\assets\img\avatar4.png' %}" alt="Avatar"></div>
                            <div class="notification-info">
                              <div class="text"><span class="user-name">John Doe</span> is watching your main repository</div><span class="date">2 days ago</span>
                            </div></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer"> <a href="#">View all notifications</a></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>