{% load static %}
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">ADMIN</a>
      <div class="left-sidebar-spacer">
        <div class="left-sidebar-scroll">
          <div class="left-sidebar-content">
            <ul class="sidebar-elements">
              <li class="divider">Menu</li>
              <li class="active"><a href="{% url 'admin_home_admin' %}"><i class="icon mdi mdi-home"></i><span>Trang chủ</span></a>
              </li>
              <li class="parent"><a href="#"><i class="icon mdi mdi-account"></i><span>Quản lí tài khoản</span></a>
                <ul class="sub-menu">
                  <li><a href="{% url 'admin_quan_ly_benh_nhan' %}">Quản lý Bệnh Nhân</a>
                  </li>
                  <li><a href="{% url 'admin_quan_ly_bac_si' %}"><span class="badge badge-primary float-right">new</span>Quản lý bác sĩ</a></li>
                  <li><a href="{% url 'admin_quan_ly_nhan_vien' %}">Quản lý nhân viên</a>
                </ul>
              </li>
              <li><a href="{% url 'admin_quan_ly_chuyen_khoa' %}"><i class="icon icofont-hospital"></i>Quản lí Chuyên Khoa</a></li>
              <li><a href="{% url 'admin_quan_ly_phong_kham' %}"><i class="icon icofont-building"></i>Quản lý phòng khám</a></li>
              <li><a href="{% url 'admin_quan_ly_dich_vu_kham' %}"><i class="icon icofont-heartbeat"></i>Quản lý dịch vụ khám</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
