{% extends 'admin_ad/base.html' %}
{% load static %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-bs4\css\dataTables.bootstrap4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css">
<div class="be-content">
   <div class="page-head">
      <h2 class="page-head-title">Quản Lý ca khám</h2>
      <nav aria-label="breadcrumb" role="navigation">
         <ol class="breadcrumb page-head-nav">
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item active">Quản lý ca khám</li>
         </ol>
      </nav>
   </div>
   <div class="main-content container-fluid">
      <div class="row">
         <div class="col-12 col-lg-12">
            <div class="card">
               <div class="card-header text-center">
                  <h3> Quản lý ca khám</h3>
               </div>
               <div class="tab-container container">
                  <div class="row">
                     <div class="col-lg-12 text-right">
                        <a  href="{% url 'admin_add_chuyen_khoa' %}" class="btn btn-space btn-primary">Thêm ca khám</a>
                     </div>
                  </div>
                  <ul class="nav nav-tabs" role="tablist">
                     <li class="nav-item"><a class="nav-link active" href="#all" data-toggle="tab" role="tab">Tất cả</a></li>
                     <li class="nav-item"><a class="nav-link" href="#trong" data-toggle="tab" role="tab">Chưa có lịch khám</a></li>
                     <li class="nav-item"><a class="nav-link" href="#colich" data-toggle="tab" role="tab">Đã có lịch khám</a></li>
                     <li class="nav-item"><a class="nav-link" href="#dakham" data-toggle="tab" role="tab">Đã khám</a></li>
                  </ul>
                  <div class="tab-content">
                     <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="card card-table">
                            <div class="card-header"></div>
                            <div class="card-body">
                               <table class="table table-striped table-hover table-fw-widget" id="table1">
                                  <thead>
                                     <tr>
                                        <th style="width:15%;">Bác sĩ</th>
                                        <th style="width:15%;">Phòng khám</th>
                                        <th style="width:10%;">Nhân viên</th>
                                        <th style="width:10%;">Dịch vụ khám</th>
                                        <th style="width:10%;">Ngày khám</th>
                                        <th style="width:10%;">Giờ khám</th>
                                        <th style="width:10%;">Giờ kết thúc</th>
                                        <th style="width:10%;">Trạng thái</th>
                                        <th style="width:10%;">Hành Động</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>Huỳnh Tấn Minh</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Đã có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>minh2</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Chưa có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                     </div>
                     <div class="tab-pane" id="trong" role="tabpanel">
                        <div class="card card-table">
                            <div class="card-header"></div>
                            <div class="card-body">
                               <table class="table table-striped table-hover table-fw-widget" id="table4">
                                  <thead>
                                     <tr>
                                        <th style="width:15%;">Bác sĩ</th>
                                        <th style="width:15%;">Phòng khám</th>
                                        <th style="width:10%;">Nhân viên</th>
                                        <th style="width:10%;">Dịch vụ khám</th>
                                        <th style="width:10%;">Ngày khám</th>
                                        <th style="width:10%;">Giờ khám</th>
                                        <th style="width:10%;">Giờ kết thúc</th>
                                        <th style="width:10%;">Trạng thái</th>
                                        <th style="width:10%;">Hành Động</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>Huỳnh Tấn Minh</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Đã có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>minh2</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Chưa có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                     </div>
                     <div class="tab-pane" id="colich" role="tabpanel">
                        <div class="card card-table">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                               <table class="table table-striped table-hover table-fw-widget" id="table5">
                                  <thead>
                                     <tr>
                                        <th style="width:15%;">Bác sĩ</th>
                                        <th style="width:15%;">Phòng khám</th>
                                        <th style="width:10%;">Nhân viên</th>
                                        <th style="width:10%;">Dịch vụ khám</th>
                                        <th style="width:10%;">Ngày khám</th>
                                        <th style="width:10%;">Giờ khám</th>
                                        <th style="width:10%;">Giờ kết thúc</th>
                                        <th style="width:10%;">Trạng thái</th>
                                        <th style="width:10%;">Hành Động</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>Huỳnh Tấn Minh</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Đã có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>minh2</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Chưa có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                        </div>
                     </div>
                     <div class="tab-pane" id="dakham" role="tabpanel">
                        <div class="card card-table">
                            <div class="card-header">
                            </div>
                            <div class="card-body">
                               <table class="table table-striped table-hover table-fw-widget" id="table6">
                                  <thead>
                                     <tr>
                                        <th style="width:15%;">Bác sĩ</th>
                                        <th style="width:15%;">Phòng khám</th>
                                        <th style="width:10%;">Nhân viên</th>
                                        <th style="width:10%;">Dịch vụ khám</th>
                                        <th style="width:10%;">Ngày khám</th>
                                        <th style="width:10%;">Giờ khám</th>
                                        <th style="width:10%;">Giờ kết thúc</th>
                                        <th style="width:10%;">Trạng thái</th>
                                        <th style="width:10%;">Hành Động</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>Huỳnh Tấn Minh</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Đã có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                     <tr class="gradeA">
                                        <td>Bác sĩ số 1</td>
                                        <td>Phòng khám số 1</td>
                                        <td>minh2</td>
                                        <td>Khám mắt </td>
                                        <td>14/03/2023</td>
                                        <td>8h:30 AM</td>
                                        <td>9h:30 AM</td>
                                        <td>Chưa có lịch</td>
                                        <td class="actions">
                                           <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                        </td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net\js\jquery.dataTables.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-bs4\js\dataTables.bootstrap4.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\dataTables.buttons.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.flash.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\jszip\jszip.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\pdfmake.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\vfs_fonts.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.colVis.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.print.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.html5.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive\js\dataTables.responsive.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js'%}" type="text/javascript"></script>

<script type="text/javascript">
   $(document).ready(function(){
       //-initialize the javascript
       App.init();
       App.dataTables();
       //$('#table1').dataTables();
       //$('#table2').dataTables();
       //$('#table3').dataTables();
       //$('#table4').dataTables();
   });
</script>
{% endblock content%}