{% extends 'admin_ad/base.html' %}
{% load static %} 
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\bootstrap-slider\css\bootstrap-slider.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />

<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Quản Lý Bệnh Nhân</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="{% url 'admin_home_admin' %}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin_quan_ly_benh_nhan' %}">Quản lý bệnh nhân</a></li>
                <li class="breadcrumb-item active">Thêm Bệnh nhân</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
            <div class="card card-border-color card-border-color-primary">
                <div class="card-header card-header-divider text-center"><h3>Thêm Bệnh nhân</h3></div>
                <br>
                <div class="card-body">
                    <form action="#" data-parsley-validate="" novalidate="">
                        <div class="row">  
                            <div class="form-group col-lg-6">
                                <label for="inputTaiKhoan">Tài Khoản</label>
                                <input class="form-control" id="inputTaiKhoan" type="text" name="tai_khoan" parsley-trigger="change" required="" placeholder="Nhập tài khoản" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputTen">Tên Bệnh nhân</label>
                                <input class="form-control" id="inputTen" type="text" name="Ten" parsley-trigger="change" required="" placeholder="Nhập tên Bệnh nhân" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputMatKhau">Mật Khẩu</label>
                                <input class="form-control" id="inputMatKhau" type="password" name="mat_khau" parsley-trigger="change" required="" placeholder="*********" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputxatNhanMk">Xát Nhận mật khẩu</label>
                                <input class="form-control" id="inputXatNhanMK" type="password" required="" data-parsley-equalto="#inputMatKhau" placeholder="**********">
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputSDT">Số điện Thoại</label>
                                <input class="form-control" id="inputSDTxt" name="so_dien_thoai" parsley-trigger="change" required="" placeholder="Nhập số điện thoại" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputCCCD">Căn cước công dân</label>
                                <input class="form-control" id="inputCCCD" type="text" name="text" parsley-trigger="change" required="" placeholder="Nhập số căn cước" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputEmail">Email</label>
                                <input class="form-control" id="inputEmail" type="email" name="email" parsley-trigger="change" required="" placeholder="Nhập email" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputNgaySinh">Ngày sinh</label>
                                <input class="form-control" id="inputNgaySinh" type="date" name="date" parsley-trigger="change" required="" placeholder="Nhập ngày sinh" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputPhuongXa">Tỉnh Thành</label>
                                <select class="select2 form-control" >
                                      <option value="p1">Thành Phố Đà Nẵng</option>
                                      <option value="p2">Medium</option>
                                  </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputPhuongXa">Quận Huyện</label>
                                <select class="select2 form-control" >
                                      <option value="p1">Hải Châu</option>
                                      <option value="p2">Medium</option>
                                  </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="inputPhuongXa">Phường xã</label>
                                <select class="select2 form-control" >
                                      <option value="p1">Thanh Bình</option>
                                      <option value="p2">Medium</option>
                                  </select>
                            </div>

                            <div class="form-group col-lg-6">
                                <label for="inputDiaChi">Địa chỉ cụ thể</label>
                                <input class="form-control" id="inputDiaChi" type="text" name="diachi" parsley-trigger="change" required="" placeholder="Địa chỉ" autocomplete="off" />
                            </div>
                            <div class="form-group col-lg-12" >
                                <p class="text-right">
                                <button class="btn btn-space btn-primary" type="submit">Thêm Bệnh Nhân</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

    </div>
</div>



<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function(){
      //-initialize the javascript
        App.init();
        App.textEditors();     
  });
</script>

{% endblock content%}
