{% extends 'admin_ad/base.html' %}
 {% load static %} 
 {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-bs4\css\dataTables.bootstrap4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css">


<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Quản Lý Bệnh Nhân</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item"><a href="#">Quản lý tài khoản</a></li>
                <li class="breadcrumb-item active">Quản lý Bệnh Nhân</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-table">
                    <div class="card-header">
                        <div class="card-header">
                            <a href="{% url 'admin_add_benh_nhan' %}" class="btn btn-space btn-primary">Thêm bệnh nhân</a>
                        </div>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped table-hover table-fw-widget" id="table1">
                        <thead>
                          <tr>
                            <th>User</th>
                            <th>Điện thoại</th>
                            <th>Email</th>
                            <th>Ngày Sinh</th>
                            <th>Giới Tinh</th>
                            <th>Địa chỉ</th>
                            <th>Trạng Thái</th>
                            <th>Hành Động</th>
                          </tr>
                        </thead>
                        <tbody>
  
                          <tr class="gradeA">
                            <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar6.png'%} " alt="Avatar"><span>User Name</span><span class="cell-detail-description">Tên Thật</span></td>
                            <td>0987654321</td>
                            <td>minhtandz951@gmail.com</td>
                            <td>17/02/2001</td>
                            <td class="center">Nam</td>
                            <td class="center">Khu 3 Thôn 1 Nam Yang Đak Đoa Gia Lai</td>
                            <td>
                                <select name="" id="" class="btn btn-secondary" style="padding:7px 0">
                                    <option value="1">Đang khóa</option>
                                    <option value="2">Hoạt động</option>
                                </select>
                            </td>
                            <td class="actions">
                                <a class="icon" href="#"><i class="mdi mdi-settings"></i></a>
                            </td>
                            
                          </tr>
                          <tr class="gradeA">
                            <td class="user-avatar cell-detail user-info"><img class="mt-0 mt-md-2 mt-lg-0" src="{% static 'admin\assets\img\avatar3.png'%} " alt="Avatar"><span>Minh 1234</span><span class="cell-detail-description">Developer</span></td>
                            <td>0987654329</td>
                            <td>sinhtandz951@gmail.com</td>
                            <td>17/02/2003</td>
                            <td class="center">Nữ</td>
                            <td class="center">Thôn 1 Nam Yang Đak Đoa Gia Lai</td>
                            <td>
                                <select name="" id="" class="btn btn-secondary" style="padding:7px 0">
                                    <option value="1">Đang khóa</option>
                                    <option value="2">Hoạt động</option>
                                </select>
                            </td>
                            <td class="actions">
                                <a class="icon" href="#"><i class="mdi mdi-settings"></i></a>
                            </td>

                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net\js\jquery.dataTables.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-bs4\js\dataTables.bootstrap4.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\dataTables.buttons.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.flash.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\jszip\jszip.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\pdfmake.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\vfs_fonts.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.colVis.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.print.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.html5.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive\js\dataTables.responsive.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js'%}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
      //-initialize the javascript
      App.init();
      App.dataTables();
  });
</script>

{% endblock content%}