{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">

<!-- Main Stylesheet -->
<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/benh_nhan/user/left_nav_user.html' %} 
        </div>
    </div>
    <div class="container-fluid col-lg-9 col-md-7 col-sm-12">
        <div class ="row col-md-12">
            {% include 'user/include/alert.html' %}
            <div class="page-head">
                <h5 class="page-head-title">Tài khoản của tôi</h5>
            </div>
            <div class="">
                <div class="card card-border-color card-border-color-primary">
                    <div class="card-header card-header-divider">Đổi mật khẩu</div>
                    <div class="card-body">
                        <form  action="#" data-parsley-validate="" novalidate="" method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class ="row">
                                <div class="form-group col-lg-12">
                                    <label for="inputmatkhau">Nhập mật khẩu cũ</label>
                                    <input class="form-control" id="inputmatkhau" type="password" required="required" name="mat_khau" placeholder="Nhập mật khẩu cũ" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="inputmatkhaumoi">Mật khẩu mới</label>
                                    <input class="form-control" id="inputmatkhaumoi" type="password" name="mat_khau_moi" required="required" placeholder="Nhập mật khẩu mới" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="inputmatkhaumoilap">Nhập lại mật khẩu mới</label>
                                    <input class="form-control" id="inputmatkhaumoilap" type="password" name="mat_khau_moi_lap" required="required" placeholder="Nhập lại mật khẩu" autocomplete="off" />
                                    <p  id="thong_bao_pass" style ='color:red;font-size:12px;font-well:500;'></p>
                                </div>
                                <div class="form-group col-lg-12" style="margin-top:15px">
                                    <button class="btn btn-primary" type="submit" style="width:100%;">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <!-- Google Map -->
    {% comment %} <script src="{% static 'user\js/script.js'%}">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script> {% endcomment %}

    <script>
        const inputElementlap = document.getElementById("inputmatkhaumoilap");
        inputElementlap.addEventListener("input", function() {
            // Xử lý khi có ký tự được nhập vào ô input
            const inputElement = document.getElementById("inputmatkhaumoi");
            const mat_khau_new = inputElement.value
            const inputElementlap = document.getElementById("inputmatkhaumoilap");
            const mat_khau_new_lap = inputElementlap.value
            const thong_bao = document.getElementById('thong_bao_pass')
            if(mat_khau_new != mat_khau_new_lap){
                thong_bao.innerHTML = "Mật khẩu chưa đúng"
            }
            else{
                thong_bao.style.color = "green"
                thong_bao.innerHTML = "Mật khẩu đúng"
            }
          });
        
    </script>

{% endblock %}
