{% load static %}
    <nav id="sidebar">
        <div class="sidebar-header">
            <img class="w-50" src="{{ user.imageURL }}" alt="">
            <h5>{{user.hoten}}</h5>
        </div>
        <ul class="list-unstyled components">
            <li class="{%if '/user/dash_board/' in request.path %}active{%endif%} li-items">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="icon mdi mdi-account"></i>&emsp; Tài khoản của tôi</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class = "{%if '/user/dash_board/' == request.path %}active{%endif%} li-items"> 
                        <a href="{% url 'user_dash_board' %}">Hồ sơ</a>
                    </li>
                    <li class="{%if '/change_diachi/' in request.path %}active{%endif%} li-items">
                        <a href="{% url 'user_change_dia_chi'%}">Địa chỉ</a>
                    </li>
                    <li class="{%if '/change_password/' in request.path %}active{%endif%} li-items">
                        <a href="{% url 'user_change_mat_khau'%}">Đổi mật khẩu</a>
                    </li>
                </ul>
            </li>
            <li class = "{%if '/lich_kham_benh/' in request.path %}active{%endif%} li-items text-left">
                <a href="{% url 'user_lich_kham_benh' %}"><i class="icon mdi mdi-calendar"></i>&emsp; Lịch khám bệnh</a>
            </li>
            <li class="li-items text-left">
                <a href="#"><i class="icon mdi icofont-doctor"></i>&emsp; Bác sĩ yêu thích</a>
            </li>
            <li class="li-items text-left">
                <a href="#"><i class="icon icofont-file-document"></i> &emsp; Hồ sơ khám bệnh</a>
            </li>
            <li class="li-items text-left">
                <a href="#"><i class="icon icofont-history"></i>&emsp; Lịch sử khám bệnh</a>
            </li >
        </ul>

        <ul class="list-unstyled CTAs">
            <li style="text-center " class=class="li-items">
                <a href="#" class="article"> <i class="icon mdi mdi-power"></i>&emsp; Log Out</a>
            </li>
        </ul>
    </nav>

