{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css'%}" type="text/css"> {% endcomment %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">
<link rel="stylesheet" href="{% static 'user/css/style_lich_kham_benh.css' %}">

<!-- Main Stylesheet -->
<div class="tong row">
    <div class="col-lg-3 col-md-5 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/benh_nhan/user/left_nav_user.html' %} 
        </div>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
        <div class="row">
            <div class ="row col-lg-12 col-md-12">
                {% include 'user/include/alert.html' %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="page-head">
                        <h5 class="page-head-title">Lịch khám bệnh</h5>
                    </div>
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header card-header-divider text-center " style="color:#45C3D2; font-weight: bold; font-size:18px;">Thông tin lịch khám</div>
                        <div class="card-body">
                           <div class ="row">
                            {% for lich_kham in lich_khams %}
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    <div class="lich_kham">
                                        <div class="lich_kham_item">
                                            <div class="lich_kham_img text-center">
                                                <img class="img-fluid img-thumbnail" src="{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.user.anhdaidien}}" alt="">
                                            </div>
                                            <div class="lich_kham_content">
                                                <h5><a href="#"><i class="icon mdi icofont-doctor"></i>{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.user.hoten}}</a></h5>
                                                <h5><i class="icofont-calendar"></i>{{lich_kham.ca_kham.ca_kham.ngaykham}}</h5>
                                                <h5><i class="icon icofont-history"></i>{{lich_kham.ca_kham.ca_kham.thoigianbatdau}} - {{lich_kham.ca_kham.ca_kham.thoigiakethuc}} </h5>
                                                <h5><i class="icofont-hospital"></i>{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.phongkham.tenphongkham}}</h5>
                                                <h5 class="text-dia-chi"><i class="icofont-location-pin"></i><span>{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.phongkham.diachi}}</span></h5>
                                                <br/>
                                                <br/>
                                                <h5>Khám cho: {% if lich_kham.khamcho == 0 %} Bản thân {%else%} Người thân {% endif %}</h5>
                                                <h5>Tình trạng: {% if lich_kham.tinhtrang == 1 %} Bác sĩ đã duyệt {%else%} Đang chờ duyệt {% endif %}</h5>
                                            </div>
                                            <div class="text-right">
                                                <a href="{% url 'user_lich_kham_benh_detail' lich_kham.id %}">Xem chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                           </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
       
    </div>
</div>


    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>
    <script src="{% static 'admin\assets\js\js_custom.js'%}"></script>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

{% endblock %}
