{% extends 'user/base.html' %}
{% load static %} 
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_header.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_login.css' %}">
    <div class="main-content container-fluid">
        <div class="splash-container">
            <div class="card card-border-color card-border-color-primary">
                <div class="card-header"><img class="logo-img" src="#" alt="logo" width="102" height="27"><span class="splash-description"></span></div>
                <h3 class="text-center">LOGIN</h3>
                <div class="card-body">
                    {% include "user/include/alert.html" %}
                    <form action="{% url 'login' %}" method = "POST">
                        {% csrf_token %} 
                        <div class="form-group">
                            <input class="form-control" name ="username" id="username" type="text" placeholder="Tài Khoản" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" id="password" type="password" placeholder="Mật Khẩu">
                        </div>
                        <div class="form-group row login-tools">
                            <div class="col-6 login-remember">
                                
                            </div>
                            <div class="col-6 login-forgot-password"><a href="pages-forgot-password.html">Quên mật khẩu?</a></div>
                        </div>
                        <div class="form-group login-submit">
                            <button class="btn btn-primary btn-xl" type="submit">Đăng Nhập</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="splash-footer"><span>Bạn chưa có tài khoản? <a href="{% url 'register' %}">Đăng Kí ngay</a></span></div>
        </div>
    </div>



<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function(){
      //-initialize the javascript
      App.init();
      
  });
</script>

{% endblock %}