{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css'%}" type="text/css"> {% endcomment %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">

<!-- Main Stylesheet -->
<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/benh_nhan/user/left_nav_user.html' %} 
        </div>
    </div>
    <div class="container-fluid col-lg-9 col-md-7 col-sm-12">
        <div class ="row col-md-12">
            {% include 'user/include/alert.html' %}
                <div class="page-head">
                    <h5 class="page-head-title">Tài khoản của tôi</h5>
                </div>
                <div class="">
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header card-header-divider">Hồ sơ</div>
                        <div class="card-body">
                            <form action="{% url "user_dash_board" %}" data-parsley-validate="" novalidate="" method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class ="row">
                                    <div class="col-lg-7">
                                        <div class="form-group">
                                            <label for="inputten">Họ và tên</label>
                                            <input class="form-control" id="inputten" type="text" name="ho_ten" value="{{user.hoten}}"  required parsley-trigger="change" placeholder="Nhập tên của bạn" autocomplete="off" />
                                        </div>
                                        <div class="form-group">
                                            <label for="inputMoTa">Số điện thoại</label>
                                            <input class="form-control" id="inputsdt" type="text" name="sdt" value="{{user.sdt}}" required parsley-trigger="change" required placeholder="Nhập số điện thoại" autocomplete="off" />
                                        </div>
                                        <div class="form-group">
                                            <label for="inputMoTa">Email</label>
                                            <input class="form-control" id="inputemail" type="email" name="email" value = "{{user.email}}" parsley-trigger="change" required= placeholder="Nhập email" autocomplete="off" />
                                        </div>
                                        <div class="form-group">
                                            <label for="inputNgaysinh">Ngày sinh</label>
                                            <input class="form-control" id="inpuNgaysinh" type="date" name="ngay_sinh" value = "{{user.ngaysinh|date:'Y-m-d'}}" parsley-trigger="change" required placeholder="Nhập email" autocomplete="off" />
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3">Giới tính</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <label class="custom-control custom-radio custom-radio-icon custom-control-inline">
                                                <input class="custom-control-input" id="radioIcon1" type="radio" name="gioi_tinh" value="0" {% if user.gioitinh == 0  %} checked= {%endif%}><span class="custom-control-label"><i class="mdi mdi-female" style="width:50px; height:50px;"></i></span>
                                                </label>
                                                <label class="custom-control custom-radio custom-radio-icon custom-control-inline">
                                                <input class="custom-control-input" id="radioIcon2" type="radio" name="gioi_tinh" value="1" {% if user.gioitinh == 1  %} checked= {%endif%} ><span class="custom-control-label"><i class="mdi mdi-male-alt"  style="width:50px; height:50px;"></i></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="text-center">
                                            <label for="inputtenKhoa">Ảnh đại diện</label>
                                        </div>
                                        <div class="image_add form-group">
                                            <div class="preview">
                                            <img id="img-preview" src="{{user.anhdaidien.url}}" />
                                            <label class="label_input" for="file-input">Chọn ảnh đại diện</label>
                                            <input accept="image/*" type="file" id="file-input" value = {{user.anhdaidien.url}}  name="image_anhdaiien" />
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="form-group col-lg-12" >
                                        <button class="btn btn-primary" type="submit" style="width:100%;">Lưu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>
    <script src="{% static 'admin\assets\js\js_custom.js'%}"></script>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

{% endblock %}
