{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">

<!-- Main Stylesheet -->
<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/benh_nhan/user/left_nav_user.html' %} 
        </div>
    </div>
    <div class="container-fluid col-lg-9 col-md-7 col-sm-12">
        <div class ="row col-md-12">
            {% include 'user/include/alert.html' %}
                <div class="page-head">
                    <h5 class="page-head-title">Tài khoản của tôi</h5>
                </div>
                <div class="">
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header card-header-divider">Địa chỉ</div>
                        <div class="card-body">
                            <form action="{% url 'user_change_dia_chi'%}" data-parsley-validate="" novalidate="" method="POST" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class ="row">
                                    <div class="form-group col-lg-6">
                                        <label for="inputten">Họ và tên</label>
                                        <input class="form-control" id="inputten" type="text" name="ho_ten" value="{{user.hoten}}" disabled  placeholder="Nhập tên của bạn" autocomplete="off" />
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="inputMoTa">Số điện thoại</label>
                                        <input class="form-control" id="inputsdt" type="text" name="sdt" value="{{user.sdt}}" disabled  parsley-trigger="change" required="" placeholder="Nhập số điện thoại" autocomplete="off" />
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label for="inputMoTa">Tỉnh Thành</label>
                                        <select class="form-control select" id="tinh_thanh" name="tinh_thanh" >
                                            {% if user.tinhthanh != '' %}
                                            <option value="0" selected >{{user.tinhthanh}}</option>
                                            {% endif %}
                                            <option value="0">--Chọn tỉnh thành--</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="inputMoTa">Quận Huyện</label>
                                        <select class="form-control select" id="quan_huyen" name="quan_huyen">
                                            {% if user.quanhuyen != '' %}
                                            <option value="0">{{user.quanhuyen}}</option>
                                            {% endif %}
                                            <option value="0">--Chọn quận huyện--</option>
                                        </select>
                                    </div> 
                                    <div class="form-group col-lg-6">
                                        <label for="inputMoTa">Phường xã</label>
                                        <select class="form-control select" id="phuong_xa" name="phuong_xa" >
                                            {% if user.phuong_xa != '' %}
                                            <option value="0">{{user.phuongxa}}</option>
                                            {% endif %}
                                            <option value="0">--Chọn phường xã--</option>
                                        </select>
                                    </div> 
                                    <div class="form-group col-lg-6">
                                        <label for="inputMoTa">Địa chỉ cụ thể</label>
                                        <input class="form-control" id="inputdiachi" type="text" name="dia_chi" value="{{user.diachi}}" parsley-trigger="change" required="" placeholder="Nhập địa chỉ cụ thể" autocomplete="off" />
                                    </div>
                                    <div class="form-group col-lg-12" style="margin-top:15px">
                                        <button class="btn btn-primary" type="submit" style="width:100%;">Lưu</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>


    <script>
        const provinceSelectElement = document.getElementById("tinh_thanh");
        const districtSelectElement = document.getElementById("quan_huyen");
        const wardSelectElement = document.getElementById("phuong_xa");
      
        // Gọi API để lấy danh sách tỉnh/thành phố
        fetch("https://provinces.open-api.vn/api/p/")
          .then(response => response.json())
          .then(provinces => {
            // Tạo các phần tử option cho tỉnh/thành phố
            provinces.forEach(province => {
              const optionElement = document.createElement("option");
              optionElement.value = province.code;
              optionElement.text = province.name;
              provinceSelectElement.appendChild(optionElement);
            });
          })
          .catch(error => {
            console.error("Lỗi khi lấy danh sách tỉnh thành:", error);
          });
      
        // Sự kiện khi chọn tỉnh/thành phố
        provinceSelectElement.addEventListener("change", () => {
            const selectedProvinceCode = provinceSelectElement.value;
          // Xóa danh sách quận/huyện cũ
          districtSelectElement.innerHTML = `
          <option value="0">--Chọn Quận huyện--</option>
          `;
      
          // Gọi API để lấy danh sách quận/huyện theo tỉnh/thành phố đã chọn
          fetch(`https://provinces.open-api.vn/api/p/${selectedProvinceCode}/?depth=2`)
            .then(response => response.json())
            .then(districts => {
                console.log(districts)
              // Tạo các phần tử option cho quận/huyện
              districts['districts'].forEach(district => {
                const optionElement = document.createElement("option");
                optionElement.value = district.code;
                optionElement.text = district.name;
                districtSelectElement.appendChild(optionElement);
              });
            })
            .catch(error => {
              console.error("Lỗi khi lấy danh sách quận huyện:", error);
            });
        });



        districtSelectElement.addEventListener("change", () => {
            const selectedDistrictCode = districtSelectElement.value
          // Xóa danh sách quận/huyện cũ
          wardSelectElement.innerHTML = `
          <option value="0">--Chọn phường xã--</option>
          `;
      
          // Gọi API để lấy danh sách quận/huyện theo tỉnh/thành phố đã chọn
          fetch(`https://provinces.open-api.vn/api/d/${selectedDistrictCode}/?depth=2`)
            .then(response => response.json())
            .then(wards => {
                console.log(wards)
              // Tạo các phần tử option cho quận/huyện
              wards['wards'].forEach(ward => {
                const optionElement = document.createElement("option");
                optionElement.value = ward.code;
                optionElement.text = ward.name;
                wardSelectElement.appendChild(optionElement);
              });
            })
            .catch(error => {
              console.error("Lỗi khi lấy danh phường xã:", error);
            });
        });
      </script>

    <script>

        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

{% endblock %}
