{% extends 'user/base.html' %}
{% load static %} 
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_header.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_login.css' %}">

<div class="main-content container-fluid">
    <div class="splash-container sign-up">
        <div class="card card-border-color card-border-color-primary">
            <div class="card-header"><img class="logo-img" src="#" alt="logo" width="102" height="27"><span class="splash-description"></span></div>
            <h3 class="text-center">Đăng Kí</h3>
            <div class="card-body">
                {% include 'user/include/alert.html' %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" required="" placeholder="Tài Khoản" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" required="" placeholder="E-mail" autocomplete="off">
                    </div>
                    <div class="form-group ">
                        <input class="form-control" id="inputPassword" name="password" type="password" placeholder="Mật Khẩu" required="">
                    </div>
                    <div class="form-group ">
                        <input class="form-control" id="inputRepeatPassword" data-parsley-equalto="#inputPassword" type="password" required="" placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="form-group pt-2">
                        <button class="btn btn-block btn-primary btn-xl" type="submit">Đăng kí</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="splash-footer"><span>Bạn đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập ngay</a></span></div>
    </div>
</div>



<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
      //-initialize the javascript
      App.init();
      $('form').parsley();
  });
</script>

</script>

{% endblock %}