{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_dat_lich_thanh_cong.css' %}">

<div class="tong">
    <div class ="container">
        {% include 'user/include/alert.html' %}
        <div class="row"> 
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class ="row">
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header card-header-divider text-center " style="color:#45C3D2; font-weight: bold; font-size:18px;">Thông tin bác sĩ</div>
                        <div class="card-body">
                            <div class ="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 img_dat_lich w-50 text-center">
                                    <img class="img-fluid img-thumbnail img-bac-si" src="{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.user.anhdaidien}}" alt="" srcset="">
                                </div>
                                
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputten">Bác sĩ</label>
                                    <input class="form-control" id="inputten" type="text" name="ho_ten_bs" 
                                    value="{% if  lich_kham.ca_kham.ca_kham.bac_si.bacsi.hocham != "0" %}{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.hocham}} {% endif %}{% if lich_kham.ca_kham.ca_kham.bac_si.bacsi.hocvi != "0" %}{{lich_kham.ca_kham.ca_kham.bacsi.hocvi}} {% endif %}{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.chucvu}} {{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.user.hoten}}"   
                                    disabled autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Số điện thoại bác sĩ</label>
                                    <input class="form-control" id="inputsdt_bs" type="text" name="sdt-bac_si" value="{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.user.sdt}}" disabled />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Chuyên Khoa khám</label>
                                    <input class="form-control" id="inputkhoakham" type="text" name="chuyen_khoa" value = "{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.chuyenkhoa.tenkhoa}}"  disabled parsley-trigger="change" required=""  autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Địa điểm khám</label>
                                    <input class="form-control" id="inputdiachiem" type="text" name="dia_diem_kham" value="{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.phongkham.tenphongkham}}" parsley-trigger="change" disabled required="" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Địa chỉ cụ thể</label>
                                    <input class="form-control" id="inputdiachi" type="text" name="dia_chi_kham" value="{{lich_kham.ca_kham.ca_kham.bac_si.bacsi.full_info.phongkham.diachi}}" parsley-trigger="change" disabled required="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class ="row">
                    <div class="card card-border-color card-border-color-primary">
                        <div class="card-header card-header-divider text-center " style="color:#45C3D2; font-weight: bold; font-size:18px;">Thông tin ca nhân</div>
                        <div class="card-body">
                            <div class ="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputten">Họ và tên bệnh nhân</label>
                                    <input class="form-control" id="inputten" type="text" name="ho_ten" value="{{lich_kham.hoten}}"  placeholder="Nhập tên bệnh nhân" disabled autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Số điện thoại</label>
                                    <input class="form-control" id="inputsdt" type="text" name="sdt" value="{{lich_kham.sdt}}"  parsley-trigger="change" required="" disabled placeholder="Nhập số điện thoại" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Ngày sinh</label>
                                    <input class="form-control" id="inputdate" type="date" name="ngaysinh" value = "{{lich_kham.ngaysinh}}"  disabled parsley-trigger="change" required=""  autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Địa chỉ cụ thể</label>
                                    <input class="form-control" id="inputdiachi" type="text" name="dia_chi" value="{{lich_kham.tinhthanh}} {{lich_kham.quanhuyen}} {{lich_kham.phuongxa}} {{lich_kham.diachi}}" parsley-trigger="change" disabled required="" placeholder="Nhập địa chỉ cụ thể" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Lý do khám </label>
                                    <textarea class="form-control" disabled name="ly_do_kham"  rows="4">{{lich_kham.lydokham}}</textarea>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 tt-gia-kham"  style="margin:20px 0px;">
                                    <div class="tt-gia-kham-inline row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <h5>Tổng thanh toán</h5>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                                            <h5>{{lich_kham.ca_kham.ca_kham.giakham}} vnđ</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class ="form-group col-lg-12 col-md-12 col-sm-12 line" >
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 button_dat_lich">
                                    <button class="btn btn-primary">Về Trang chủ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





{% comment %} <div class="tong">
    <div class ="container tong">
        {% include 'user/include/alert.html' %}
        <div class="row"> 
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="border_dat_lich text-center">
                    <div class="img_dat_lich w-50">
                        <img class="img-fluid" src="{% static 'user/images/image-18.png' %}" alt="" srcset="">
                    </div>
                    <div class="message_dat_lich ">
                        <h4 class="text-center">Bạn đã đặt lịch khám bệnh thành công!</h4>
                        <span>Vui lòng kiểm tra email đặt lịch</span>
                        <h5>Cảm ơn bạn đã sữ dụng dịch vụ của chúng tôi!</h5>
                    </div>
                    <div class="button_dat_lich">
                        <button class="btn btn-primary">Về Trang chủ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

    
    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    {% comment %} <script src="{% static 'user\js/js_show_bac_si.js'%}"></script> {% endcomment %}
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
    <script src="{% static 'user\js/script.js'%}"></script>
{% endblock %}

