{% extends 'admin_ad/base.html' %}
 {% load static %} 
 {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-bs4\css\dataTables.bootstrap4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css">


<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Quản Lý Lịch Khám</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item active">Quản lý lịch khám</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-12 col-lg-12">
              <div class="card">
                <div class="card-header">Quản lý lịch khám</div>
                <div class="tab-container">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab" role="tab">Tất cả</a></li>
                    <li class="nav-item"><a class="nav-link" href="#profile" data-toggle="tab" role="tab">Đã xát nhận</a></li>
                    <li class="nav-item"><a class="nav-link" href="#messages" data-toggle="tab" role="tab">Chưa xát nhận</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <div class="card card-table">
                            <div class="card-header">
                                <a href="{% url 'admin_add_chuyen_khoa' %}" class="btn btn-space btn-primary">Thêm khoa</a>
                            </div>
                            <div class="card-body">
                              <table class="table table-striped table-hover table-fw-widget" id="table1">
                                <thead>
                                  <tr>
                                    <th style="width:15%;" >Tên Khoa</th>
                                    <th style="width:15%;">Hình Ảnh</th>
                                    <th class="text-center"  style="width:60%;">Mô Tả</th>
                                    <th style="width:10%;">Hành Động</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="gradeA">
                                      <td>Tai Mũi Họng</td>
                                      <td>
                                          <img class="img-fluid" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/120331-co-xuong-khop.jpg" alt="">
                                      </td>
                                      <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit quo minus asperiores neque accusamus eius laborum, necessitatibus totam, itaque harum. Tenetur repellat possimus vel explicabo consectetur debitis! Doloribus, nisi!</td>
                                      <td class="actions">
                                          <a class="icon" href="#"><i class="mdi mdi-delete"></i></a>
                                          &emsp;
                                          <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                    </td>
                                  </tr>
                                  <tr class="gradeA">
                                    <td>Tai Mũi Họng</td>
                                    <td>
                                        <img class="img-fluid" src="https://cdn.bookingcare.vn/fr/w300/2019/12/13/121042-than-kinh.jpg" alt="">
                                    </td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit quo minus asperiores neque accusamus eius laborum, necessitatibus totam, itaque harum. Tenetur repellat possimus vel explicabo consectetur debitis! Doloribus, nisi!</td>
                                    <td class="actions">
                                        <a class="icon" href="#"><i class="mdi mdi-delete" style="color: red;"></i></a>
                                        &emsp;
                                        <a class="icon" href="{% url 'admin_detail_chuyen_khoa' 1 %}"><i class="mdi mdi-settings"></i></a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                      <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel">
                      <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more  </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
    </div>
</div>

<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net\js\jquery.dataTables.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-bs4\js\dataTables.bootstrap4.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\dataTables.buttons.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.flash.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\jszip\jszip.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\pdfmake.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\pdfmake\vfs_fonts.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.colVis.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.print.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons\js\buttons.html5.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-buttons-bs4\js\buttons.bootstrap4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive\js\dataTables.responsive.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datatables\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js'%}" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function(){
      //-initialize the javascript
      App.init();
      App.dataTables();
  });
</script>

{% endblock content%}