{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin WEBSITE BÁC SĨ</title>

    
    <link rel="stylesheet" href="{% static 'user/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/style_header.css'%}">
    <script src="{% static 'user/ckeditor/ckeditor.js'%}" type="text/javascript"></script>

  </head>
  <body id="top">
        <div>
            {% include 'user/include/bacsi_header.html'%}

            {% block content %}
    
            {% endblock %}
            {% include 'user/include/footer.html'%} 
        </div>
  </body>

  
</html>