{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_carosel_ck_sin_bs.css' %}">
<!-- Main Stylesheet -->
<div class="tong">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xl-7">
                    <div class="block">
                        <div class="divider mb-3"></div>
                        <span class="text-uppercase text-sm letter-spacing ">Nền Tản Y tế</span>
                        <h1 class="mb-3 mt-3">Chăm sóc sức khỏe toàn diện</h1>
    
                        <p class="mb-4 pr-5">Đặt lịch khám bệnh trực tuyến tại chúng tôi, bạn sẽ được trải nghiệm dịch vụ chăm sóc sức khỏe toàn diện, nhanh chóng và chuyên nghiệp. Chúng tôi cam kết mang đến cho bạn sự hài lòng và an tâm khi sử dụng các dịch vụ y tế của chúng tôi. Hãy để chúng tôi chăm sóc sức khỏe của bạn và gia đình! </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="feature-block d-lg-flex">
                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-surgeon-alt"></i>
                            </div>
                            <span>Dịch vụ online</span>
                            <h4 class="mb-3">Đặt lịch khám online</h4>
                            <p class="mb-4">Hỗ trợ bạn đặt lịch khám tại nhà. Bạn còn có thể tìm kiếm thông tin về các bác sĩ và các dịch vụ khám bệnh để lựa chọn phù hợp với nhu cầu của mình.</p>
                           
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-ui-clock"></i>
                            </div>
                            <span>Thời gian linh hoạt</span>
                            <h4 class="mb-3">Dịch vụ hoạt động 24/24 </h4>
                            <p class="mb-4">Đặt lịch khám bệnh trực tuyến là giải pháp tiện lợi và nhanh chóng giúp bạn tiết kiệm thời gian và công sức đến phòng khám.</p>
                            
                        </div>

                        <div class="feature-item mb-5 mb-lg-0">
                            <div class="feature-icon mb-4">
                                <i class="icofont-support"></i>
                            </div>
                            <span>Hệ thống hỗ trợ</span>
                            <h4 class="mb-3">0329990471</h4>
                            <ul class="w-hours list-unstyled">
                                <li class="d-flex justify-content-between">Thứ Hai - Năm : <span>8:00 - 17:00</span></li>
                                <li class="d-flex justify-content-between">Thứ Sáu - Bảy : <span>8:30 - 17:00</span></li>
                                <li class="d-flex justify-content-between">Chủ Nhật <span>9:00 - 15:00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="about-img">
                        <img src="{% static 'user/images/about/img-1.jpg'%}" alt="" class="img-fluid">
                        <img src="{% static 'user/images/about/img-2.jpg'%}" alt="" class="img-fluid mt-4">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="about-img mt-4 mt-lg-0">
                        <img src="{% static 'user/images/about/img-3.jpg'%}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-content pl-4 mt-4 mt-lg-0">
                        <h2 class="title-color">Chăm sóc toàn vẹn <br>& lối sống lành mạnh</h2>
                        <p class="mt-4 mb-5">Các bác sĩ sẽ hỗ trợ và giúp đỡ bạn giải quyết vấn đề sức khỏe một cách nhanh chóng và tiện lợi nhất cho bạn!</p>

                        <a href="service.html" class="btn btn-primary">Đến trang bác sĩ<i class="icofont-simple-right ml-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-section ">
        <div class="container">
            <div class="cta position-relative">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-doctor"></i>
                            <span class="h3 counter" data-count="20">0</span>+
                            <p>Bác sĩ</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-flag"></i>
                            <span class="h3 counter" data-count="90">0</span>+
                            <p>Đơn khám tháng này</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-badge"></i>
                            <span class="h3 counter" data-count="40">0</span>+
                            <p>Chuyên khoa</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter-stat">
                            <i class="icofont-globe"></i>
                            <span class="h3 counter" data-count="400">0</span>
                            <p>Thành Viên</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section service gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Các Chuyên Khoa nổi bậc</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>
                            Các khoa khám bệnh là những đơn vị chuyên môn trong lĩnh vực chăm sóc sức khỏe, đáp ứng nhu cầu khám và điều trị bệnh cho người dân
                            Các khoa khám bệnh giúp người dân có thể được chẩn đoán và điều trị kịp thời các bệnh lý về sức khỏe của mình, đảm bảo sức khỏe tốt nhất cho cuộc sống hàng ngày.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chuyen_khoa_all">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                          {% for chuyen_khoa_tab in chuyen_khoa_all_tab %}
                            <div class="carousel-item {% if chuyen_khoa_tab == chuyen_khoa_all_tab.0 %} active {%endif%}">
                              <div class="product-tab card-deck">
                                {% for chuyen_khoa in chuyen_khoa_tab %}
                                <div class="product-tab-item card">
                                  <a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">
                                      <img src="{{chuyen_khoa.anhminhhoa}}" class="d-block w-100" height=170 />
                                      <span></span>
                                  </a>
                                  <br>
                                  <h5><a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">Khoa {{chuyen_khoa.tenkhoa}}</a>
                                  </h5>
                                  <div>
                                      <p>
                                        {{chuyen_khoa.gioithieu}}
                                      </p>
                                  </div>
                              </div>
                                {% endfor %}
                              </div>
                            </div>
                          {% endfor %}
                      </div>
                      <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </button>
                    </div>
                    <div class="text-right">
                        <a href="{% url 'user_chuyen_khoa' %}" class="read-more btn btn-primary">Xem thêm<i class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {% comment %} <section class="fetaure-page ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Chuyên Khoa nổi bậc </h2>
                        <div class="divider mx-auto my-4"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chuyen_khoa_all">
                    <h4 class="text-md">Các Chuyên khoa nổi bậc</h4>
                    <div class="divider my-4"></div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                          {% for chuyen_khoa_tab in chuyen_khoa_all_tab %}
                            <div class="carousel-item {% if chuyen_khoa_tab == chuyen_khoa_all_tab.0 %} active {%endif%}">
                              <div class="product-tab card-deck">
                                {% for chuyen_khoa in chuyen_khoa_tab %}
                                <div class="product-tab-item card">
                                  <a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">
                                      <img src="{{chuyen_khoa.anhminhhoa}}" class="d-block w-100" height=170 />
                                      <span></span>
                                  </a>
                                  <br>
                                  <h5><a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">Khoa {{chuyen_khoa.tenkhoa}}</a>
                                  </h5>
                                  <div>
                                      <p>
                                        {{chuyen_khoa.gioithieu}}
                                      </p>
                                  </div>
                              </div>
                                {% endfor %}
                              </div>
                            </div>
                          {% endfor %}
                      </div>
                      <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </button>
                    </div>
                    <div class="text-right">
                        <a href="{% url 'user_chuyen_khoa' %}" class="read-more btn btn-primary">Xem thêm<i class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}


    {% comment %} <section class="section appoinment">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 ">
                    <div class="appoinment-content">
                        <img src="images/about/img-3.jpg" alt="" class="img-fluid">
                        <div class="emergency">
                            <h2 class="text-lg"><i class="icofont-phone-circle text-lg"></i>+23 345 67980</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 ">
                    <div class="appoinment-wrap mt-5 mt-lg-0">
                        <h2 class="mb-2 title-color">Book appoinment</h2>
                        <p class="mb-4">Mollitia dicta commodi est recusandae iste, natus eum asperiores corrupti qui velit . Iste dolorum atque similique praesentium soluta.</p>
                        <form id="#" class="appoinment-form" method="post" action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Choose Department</option>
                                        <option>Software Design</option>
                                        <option>Development cycle</option>
                                        <option>Software Development</option>
                                        <option>Maintenance</option>
                                        <option>Process Query</option>
                                        <option>Cost and Duration</option>
                                        <option>Modal Delivery</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="form-control" id="exampleFormControlSelect2">
                                        <option>Select Doctors</option>
                                        <option>Software Design</option>
                                        <option>Development cycle</option>
                                        <option>Software Development</option>
                                        <option>Maintenance</option>
                                        <option>Process Query</option>
                                        <option>Cost and Duration</option>
                                        <option>Modal Delivery</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input name="time" id="time" type="text" class="form-control" placeholder="Time">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Full Name">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input name="phone" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group-2 mb-4">
                                <textarea name="message" id="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
                            </div>

                            <a class="btn btn-main btn-round-full" href="appoinment.html">Make Appoinment <i class="icofont-simple-right ml-2  "></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <section class="section testimonial-2 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center">
                        <h2>Chúng tôi đã hỗ trợ 5000+ bệnh nhân</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Chỉ cần bạn tin tưởng đội ngủ của chúng tôi sẽ giúp đỡ bạn giải quyết vấn đề sức khỏe một cách nhanh chóng và tiện lợi nhât.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 testimonial-wrap-2">
                    <div class="testimonial-block style-2  gray-bg">
                        <i class="icofont-quote-right"></i>

                        <div class="testimonial-thumb">
                            <img src="{% static 'user/images/team/test-thumb1.jpg'%}" alt="" class="img-fluid">
                        </div>

                        <div class="client-info ">
                            <h4>Amazing service!</h4>
                            <span>John Partho</span>
                            <p>
                                They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                            </p>
                        </div>
                    </div>

                    <div class="testimonial-block style-2  gray-bg">
                        <div class="testimonial-thumb">
                            <img src="{% static 'user/images/team/test-thumb2.jpg'%}" alt="" class="img-fluid">
                        </div>

                        <div class="client-info">
                            <h4>Expert doctors!</h4>
                            <span>Mullar Sarth</span>
                            <p>
                                They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                            </p>
                        </div>

                        <i class="icofont-quote-right"></i>
                    </div>

                    <div class="testimonial-block style-2  gray-bg">
                        <div class="testimonial-thumb">
                            <img src="{% static 'user/images/team/test-thumb3.jpg'%}" alt="" class="img-fluid">
                        </div>

                        <div class="client-info">
                            <h4>Good Support!</h4>
                            <span>Kolis Mullar</span>
                            <p>
                                They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                            </p>
                        </div>

                        <i class="icofont-quote-right"></i>
                    </div>

                    <div class="testimonial-block style-2  gray-bg">
                        <div class="testimonial-thumb">
                            <img src="{% static 'user/images/team/test-thumb4.jpg'%}" alt="" class="img-fluid">
                        </div>

                        <div class="client-info">
                            <h4>Nice Environment!</h4>
                            <span>Partho Sarothi</span>
                            <p class="mt-4">
                                They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                            </p>
                        </div>
                        <i class="icofont-quote-right"></i>
                    </div>

                    <div class="testimonial-block style-2  gray-bg">
                        <div class="testimonial-thumb">
                            <img src="{% static 'user/images/team/test-thumb1.jpg'%}" alt="" class="img-fluid">
                        </div>

                        <div class="client-info">
                            <h4>Modern Service!</h4>
                            <span>Kolis Mullar</span>
                            <p>
                                They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                            </p>
                        </div>
                        <i class="icofont-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section clients">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center">
                        <h2>Các đối tác với chúng tôi</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Dưới đây là danh sách các đối tác và các thành phần chính trong dự án website đặt lịch khám bác sĩ tại Đà Đẵng</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clients-logo">
                <div class="col-lg-4">
                    <div class="client-thumb">
                        <img src="{% static 'admin/assets/img/logo_truong.png' %}" alt="" class="img-fluid w-75">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="client-thumb">
                        <img src="{% static 'admin/assets/img/logo_cong_nghe_so.png' %}" alt="" class="img-fluid w-75">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="client-thumb">
                        <img src="{% static 'admin/assets/img/ubnd-da-nang.png' %}" alt="" class="img-fluid w-75">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="{% static 'admin\assets\lib\jquery\jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //-initialize the javascript
        App.init();
    });
  </script> 
    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
  
    <script src="{% static 'user/js/script.js'%}"></script>
  
   
{% endblock %}

