{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">

<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_bac_si_ca_kham.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">
<link rel="stylesheet" href="{% static 'user/css/style_page_bac_si.css'%}">
<link rel="stylesheet" href="{% static  'user/css/style_xat_nhan_lich_kham.css' %}">
<!-- Main Stylesheet -->

<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/include/left_nav_bac_si.html' %} 
        </div>
    </div>
    <div class="container-fluid col-lg-9 col-md-7 col-sm-12">
        <div class="tab-container" style="margin-top:20px">
            <ul class="nav nav-tabs nav-tabs-classic" role="tablist">
                <li class="nav-item"><a class="nav-link active " href="#classic_1" data-toggle="tab" role="tab">Nhận lịch khám</a></li>
                <li class="nav-item"><a class="nav-link " href="#classic_2" data-toggle="tab" role="tab">Xem lịch khám bệnh</a></li>
            </ul>
            <div class="tab-content">
                {% include 'user/include/alert.html' %}
                <div class="tab-pane active" id="classic_1" role="tabpanel">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class ="row col-lg-12 col-md-12">
                                <div class="card card-border-color card-border-color-primary" style="width:100%">
                                    <div class="card-header card-header-divider">Xát nhận lịch đặt khám bệnh</div>
                                    <br>
                                    <div class="card-body">
                                        <table class="table table-striped table-hover table-fw-widget" id="table1">
                                            <thead>
                                                <tr>
                                                <th class="text-center">Người đặt</th>
                                                <th class="text-center">Tên Bệnh nhân</th>
                                                <th class="text-center">Điện thoại</th>
                                                <th class="text-center">Ngày Sinh</th>
                                                {% comment %} <th class="text-center">Giới Tinh</th> {% endcomment %}
                                                <th class="text-center">Ngày khám</th>
                                                <th class="text-center">Giờ khám</th>
                                                <th class="text-center">Hành dộng</th>
                                                <th class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for lich_kham in lich_khams %}
                                                <tr class="gradeA">
                                                    <td class="text-center">{% if lich_kham.nguoidat == '' %}{{lich_kham.user}}{% else %} {{lich_kham.nguoidat}}{% endif %}</td>
                                                    <td class="text-center">{{lich_kham.hoten}}</td>
                                                    <td class="text-center">{{lich_kham.sdt}}</td>
                                                    <td class="text-center">{{lich_kham.ngaysinh}}</td>
                                                    <td class="text-center">{{lich_kham.ca_kham.ca_kham.ngaykham}}</td>
                                                    <td class="text-center">{{lich_kham.ca_kham.ca_kham.thoigianbatdau}} - {{lich_kham.ca_kham.ca_kham.thoigiakethuc}}</td>
                                                    <td class="actions">
                                                        <a  href="{% url 'bacsi_xac_nhan_lich_kham' lich_kham.id%}" class='btn btn-success'>Xát nhận</a>
                                                    </td>
                                                    <td class="text-center"><a class="showDetails" data-id="{{lich_kham.id}}" href="#">Xem chi tiết</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="classic_2" role="tabpanel">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class ="row col-lg-12 col-md-12">
                                <div class="card card-border-color card-border-color-primary" style="width:100%">
                                    <div class="card-header card-header-divider">Xát nhận lịch đặt khám bệnh</div>
                                    <br>
                                    <div class="card-body">
                                        <table class="table table-striped table-hover table-fw-widget" id="table1">
                                            <thead>
                                                <tr>
                                                <th class="text-center">Người đặt</th>
                                                <th class="text-center">Tên Bệnh nhân</th>
                                                <th class="text-center">Điện thoại</th>
                                                <th class="text-center">Ngày Sinh</th>
                                                {% comment %} <th class="text-center">Giới Tinh</th> {% endcomment %}
                                                <th class="text-center">Ngày khám</th>
                                                <th class="text-center">Giờ khám</th>
                                                <th class="text-center">Trả về</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for lich_kham in lich_kham_xn %}
                                                <tr class="gradeA">
                                                    <td class="text-center">{% if lich_kham.nguoidat == '' %}{{lich_kham.user}}{% else %} {{lich_kham.nguoidat}}{% endif %}</td>
                                                    <td class="text-center">{{lich_kham.hoten}}</td>
                                                    <td class="text-center">{{lich_kham.sdt}}</td>
                                                    <td class="text-center">{{lich_kham.ngaysinh}}</td>
                                                    <td class="text-center">{{lich_kham.ca_kham.ca_kham.ngaykham}}</td>
                                                    <td class="text-center">{{lich_kham.ca_kham.ca_kham.thoigianbatdau}} - {{lich_kham.ca_kham.ca_kham.thoigiakethuc}}</td>
                                                    <td class="text-center"><a class="btn btn-success" href="{% url 'bacsi_thuc_hien_kham_benh' lich_kham.id %}">Xát nhận khám bệnh</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close text-right">&times;</span>
        <h5 class="text-center">Thông tin lịch khám : bác sĩ {{user.hoten}}</h5>
        <div class="container">
            <div class ="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="lich_kham">
                        <div class="lich_kham_item">
                            <div class="lich_kham_img text-center">
                                <img class="img-fluid img-thumbnail" src="{{user.anhdaidien.url}}" alt="">
                            </div>

                            <div class="tab-lich_kham row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="#" id="tab-ttbn" class=" active">Thông tin bệnh nhân</a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="#" id="tab-ttlk" class="">Thông tin lịch khám</a>
                                </div>
                            </div>

                            <div id="tab-pain-benh-nhan" class="lich_kham_content  row">
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Bệnh nhân :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id ="ten-benh-nhan">Huỳnh tấn minh</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Số điện thoại :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="sdt" >00000</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Ngày sinh :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="ngay-sinh">17/02/2001</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Giới tính :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gioi-tinh">aa</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Địa chỉ :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="dia-chi">Thành phố đà nẵng, quận hải châu, phường thanh bình 54 hải hồ</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Lý do khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="ly-do-kham">111</p>
                                </div>
                            </div>
                            <div id="tab-pain-lich-kham" class="lich_kham_content hidden-tab row">
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Ngày khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="ngay-kham">17/02/2001</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p >Giờ bắt đầu :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gio-bat-dau">8H</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Giờ kết thúc :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gio-ket-thuc" >9h</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Giá khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="gia-kham">120</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Nơi khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id ="noi-kham">Bệnh viên ung bứu</p>
                                </div>
                                <div class="lich-kham-chu col-lg-4 col-md-4 col-sm-4">
                                    <p>Địa chỉ khám :</p>
                                </div>
                                <div class="lich-kham-chu col-lg-8 col-md-8 col-sm-8">
                                    <p id="dia-chi-kham">Thành phố đà nẵng, quận hải châu, phường thanh bình 54 hải hồ</p>
                                </div>
                            </div>
                            <a href="#" id="btn-button" class="btn btn-primary">Xác nhận</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script src="{% static 'user/js/js_bac_si_lich_kham.js' %}"></script>
<script>
    var tabTtBn = document.getElementById("tab-ttbn");
    var tabTtLk = document.getElementById("tab-ttlk");
    var tabPainBenhNhan = document.getElementById("tab-pain-benh-nhan");
    var tabPainLichKham = document.getElementById("tab-pain-lich-kham");
    tabTtBn.addEventListener("click", function() {  
        tabTtBn.classList.add("active");
        tabTtLk.classList.remove("active");
        tabPainBenhNhan.classList.remove("hidden-tab");
        tabPainLichKham.classList.add("hidden-tab")
    });

    tabTtLk.addEventListener("click", function() {  
        tabTtLk.classList.add("active");
        tabTtBn.classList.remove("active");
        tabPainBenhNhan.classList.add("hidden-tab");
        tabPainLichKham.classList.remove("hidden-tab")
    });
</script>

{% endblock %}

