{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">

<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_bac_si_ca_kham.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_left_nav_user.css' %}">
<!-- Main Stylesheet -->

<div class="tong row">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="p-30 mb-5">
            {% include 'user/include/left_nav_bac_si.html' %} 
        </div>
    </div>
    <div class="container col-lg-9 col-md-7 col-sm-12">
        {% include 'user/include/alert.html' %}
        <div class="page-head" style="padding:20px 0px">
            <h5 class="page-head-title">Thông tin khám bệnh</h5>
        </div>
        <div class ="row col-lg-12 col-md-12" >
            <div class="card card-border-color card-border-color-primary w-100" >
                <div class="card-header card-header-divider text-center">Xát nhận khám bệnh</div>
                <br>
                <div class="card-body">
                    <form action="{% url 'bacsi_thuc_hien_kham_benh' lich_kham.id %}" data-parsley-validate="" novalidate="" method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class ="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 row">
                                <input class="form-control hidden hidden-class" id="inputten" type="text" name="lich_kham_id" value="{{lich_kham.id}}" disabled  />
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="inputten">Họ và tên bệnh nhân</label>
                                        <input class="form-control" id="inputten" type="text" name="ho_ten" value="{{lich_kham.hoten}}" disabled  />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="inputMoTa">Số điện thoại</label>
                                        <input class="form-control" id="inputsdt" type="text" name="sdt" value="{{lich_kham.sdt}}" disabled />
                                    </div>
                                </div> 
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="inputNgaysinh">Ngày sinh </label>
                                    <input class="form-control" disabled type="date" value= {{lich_kham.ngaysinh}}>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="inputNgaysinh">Tuổi </label>
                                    <input class="form-control" disabled value="{{age}}" type="text">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="inputDiachi">Địa chỉ</label>
                                        <input class="form-control" id="inputdiachi" type="text"  value="{{lich_kham.diachi}}, {{lich_kham.phuongxa}}, {{lich_kham.quanhuyen}}, {{lich_kham.tinhthanh}}" disabled />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="inputDiachi">Lý do khám bệnh</label>
                                        <textarea class="form-control" disabled rows="2">{{lich_kham.lydokham}}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="inputDiachi">Nhận xét của bác sĩ sau khám</label>
                                        <textarea class="form-control" name="ghichu" rows="2">{% if lich_kham.ghichubacsi != None %} {{lich_kham.ghichubacsi}} {% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <label for="inputDiachi">Đơn thuốc</label>
                                        <textarea class="form-control" name="donthuoc" rows="4">{% if lich_kham.donthuoc != None %}{{lich_kham.donthuoc}}{% endif %}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12" >
                                <button class="btn btn-primary" type="submit" style="width:100%;">Xát nhận khám xong</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\js_custom.js'%}"></script>
<script src="{% static 'user\js\js_bac_si.js'%}"></script> 

<script>
    ClassicEditor
        .create( document.querySelector( 'textarea[name="donthuoc"]' ) )
        .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );

  </script>
{% endblock %}

