{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_pagination.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_bac_si.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_dat_lich_kham.css' %}">

<div class="tong">
    {% include 'user/include/alert.html' %}
    <div class ="tt-bac-si">
        <div class="container-fluid col-lg-8 col-md-9 col-sm-12 tt-bac-si-all">
            <img class='img-fluid img-thumbnail img-custom' src="{{ca_kham.bac_si.bacsi.full_info.user.anhdaidien}}" alt="">
            <div class="tt-bac-si-content">
                <h5>ĐẶT LỊCH KHÁM</h5>
                <h6>
                    {% if ca_kham.bac_si.bacsi.hocham != "0" %} {{ca_kham.bac_si.bacsi.hocham}},{% endif %}
                    {% if ca_kham.bac_si.bacsi.hocvi != "0" %} {{ca_kham.bac_si.bacsi.hocvi}},{% endif %}
                    {{ca_kham.bac_si.bacsi.chucvu}} 
                    {{ca_kham.bac_si.bacsi.full_info.user.hoten}}
                </h6>
                <p><span>{{ca_kham.thoigianbatdau}} - {{ca_kham.thoigiakethuc}} - 
                    {% if ca_kham.thu == 1 %}Thứ 2
                    {% elif ca_kham.thu == 2 %}Thứ 3
                    {% elif ca_kham.thu == 3 %}Thứ 4
                    {% elif ca_kham.thu == 4 %}Thứ 5
                    {% elif ca_kham.thu == 5 %}Thứ 6
                    {% elif ca_kham.thu == 6 %}Thứ 7
                    {% elif ca_kham.thu == 0 %}Chủ Nhật
                    {% endif %}
                    - {{ca_kham.ngaykham}}</span></p>
            </div>
        </div>
    </div>

    <div class="gia_kham">
        <div class="container-fluid col-lg-8 col-md-9 col-sm-12 tt-bac-si-all">
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-md-4 detal_gia">
                    <button class="btn"> Giá khám {{ca_kham.giakham}} VND</button>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 detal_gia">
                    <button id="btn-check-bt" class="btn activate_check" for="check_dat_lich_bt">Đặt lịch bản thân</button>
                    <input type="checkbox" id="check_dat_lich_bt" checked class="hidden hidden-checkbox">
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 detal_gia">
                    <button id="btn-check-nt" class="btn" for="check_dat_lich_nt">Đặt lịch cho người thân</button>
                    <input type="checkbox" id="check_dat_lich_nt" class="hidden hidden-checkbox">
                </div>
            </div>
        </div>
    </div>

    <div class="container col-lg-8 col-md-9 col-sm-12">
        <div class="container-fluid col-lg-12 col-md-12 col-sm-12">
            <div class ="row">
                <div class="card card-border-color card-border-color-primary">
                    <div class="card-header card-header-divider text-center " style="color:#45C3D2; font-weight: bold; font-size:18px;">Đăng kí lịch khám</div>
                    <div class="card-body">
                        <form action="{% url 'user_da_dat_lich_kham' %}" data-parsley-validate="" novalidate="" method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class ="row">
                                <input class="hidden hidden-checkbox"  type="text" name="id_ca_kham" value="{{ca_kham.id}}" />
                                <div class="col-lg-12 col-md-12 col-sm-12 row hidden" id="check_nguoi_dat">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12" id="tt-lien_he">
                                        <h5>Thông tin người đặt lịch</h5>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <label for="inputten">Họ và tên người đặt lịch</label>
                                        <input class="form-control" id="inputtennguoidat" type="text" name="ho_ten_nguoi_dat" value = {{user}} placeholder="Nhập tên của bạn" autocomplete="off" />
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                        <label for="inputten">Số điện thoại liên hệ</label>
                                        <input class="form-control" id="inputsdt_lien_he" type="text" name="sdt_lien_he" value="{{user.sdt}}"  placeholder="Nhập số diện thoại liên hệ" autocomplete="off" />
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12" id="tt-benh_nhan">
                                        <h5>Thông tin bệnh nhân</h5>
                                    </div>
                                </div>


                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputten">Họ và tên bệnh nhân</label>
                                    <input class="form-control" id="inputten" type="text" name="ho_ten" value="{{user.hoten}}"  placeholder="Nhập tên bệnh nhân" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Số điện thoại</label>
                                    <input class="form-control" id="inputsdt" type="text" name="sdt" value="{{user.sdt}}"  parsley-trigger="change" required="" placeholder="Nhập số điện thoại" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Ngày sinh</label>
                                    <input class="form-control" id="inputdate" type="date" name="ngaysinh" value = "{{user.ngaysinh|date:'Y-m-d'}}"   parsley-trigger="change" required=""  autocomplete="off" />
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="input_gioitinhnam" class="custom-label">
                                        <input id="input_gioitinhnam" class="custom-input" type="radio" value = "1" name="gioitinh" {% if user.gioitinh == 1  %} checked= {%endif%} > 
                                        <span class="custom-span">Nam</span>
                                    </label>
                                    &emsp;
                                    &emsp;
                                    &emsp;
                                    <label for="input_gioitinhnu" class="custom-label">
                                        <input id="input_gioitinhnu" class="custom-input" type="radio" value ="0" name="gioitinh"  {% if user.gioitinh == 0  %} checked= {%endif%}> 
                                        <span class="custom-span">Nữ</span>
                                    </label>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Tỉnh Thành</label>
                                    <select class="form-control select" id="tinh_thanh" name="tinh_thanh" >
                                        {% if user.tinhthanh != '' %}
                                        <option value="0" selected >{{user.tinhthanh}}</option>
                                        {% endif %}
                                        <option value="0">--Chọn tỉnh thành--</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Quận Huyện</label>
                                    <select class="form-control select" id="quan_huyen" name="quan_huyen">
                                        {% if user.quanhuyen != '' %}
                                        <option value="0">{{user.quanhuyen}}</option>
                                        {% endif %}
                                        <option value="0">--Chọn quận huyện--</option>
                                    </select>
                                </div> 
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Phường xã</label>
                                    <select class="form-control select" id="phuong_xa" name="phuong_xa" >
                                        {% if user.phuong_xa != '' %}
                                        <option value="0">{{user.phuongxa}}</option>
                                        {% endif %}
                                        <option value="0">--Chọn phường xã--</option>
                                    </select>
                                </div> 
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Địa chỉ cụ thể</label>
                                    <input class="form-control" id="inputdiachi" type="text" name="dia_chi" value="{{user.diachi}}" parsley-trigger="change" required="" placeholder="Nhập địa chỉ cụ thể" autocomplete="off" />
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="inputMoTa">Lý do khám </label>
                                    <textarea class="form-control" name="ly_do_kham"  rows="4"></textarea>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <label for="input_thanhtoan" class="custom-label">
                                        <input id="input_thanhtoan" class="custom-input" type="radio" name="thanhtoan" checked=""> 
                                        <span class="custom-span">Thanh toán tại cơ sỡ y tế</span>
                                    </label>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 tt-gia-kham" >
                                    <div class="tt-gia-kham-inline row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <p>Giá khám</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                                            <span>{{ca_kham.giakham}} vnđ</span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <p>Phí đăng kí</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                                            <span>0 vnđ</span>
                                        </div>
                                        <div class="col-lg-12 col-nd-12 col-sm-12">
                                            <span class="line"></span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <p>Tổng thanh toán</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                                            <span>{{ca_kham.giakham}} vnđ</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12" style="margin-top:15px">
                                    <button class="btn btn-primary" type="submit" style="width:100%;">Đăng kí khám bệnh</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

    
    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    {% comment %} <script src="{% static 'user\js/js_show_bac_si.js'%}"></script> {% endcomment %}
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
    <script src="{% static 'user\js/script.js'%}"></script>


    <script>
        const btn_bt = document.getElementById("btn-check-bt")
        const btn_nt = document.getElementById("btn-check-nt")
        const check_bt = document.getElementById("check_dat_lich_bt")
        const check_nt = document.getElementById("check_dat_lich_nt")
        const tt_lien_he = document.getElementById("check_nguoi_dat")
        const input_ten_nd = document.getElementById('inputtennguoidat')

        btn_bt.addEventListener("click", function() {
            btn_bt.classList.remove("activate_check");
            btn_bt.classList.add("activate_check");
            btn_nt.classList.remove("activate_check");
            tt_lien_he.classList.add("hidden")
            input_ten_nd.value = ""
        });

        btn_nt.addEventListener("click", function() {
            btn_nt.classList.remove("activate_check");
            btn_nt.classList.add("activate_check");
            btn_bt.classList.remove("activate_check");
            tt_lien_he.classList.remove("hidden")
            input_ten_nd.value = "{{user.hoten}}"
            
        });

    </script>

    <script>
        const provinceSelectElement = document.getElementById("tinh_thanh");
        const districtSelectElement = document.getElementById("quan_huyen");
        const wardSelectElement = document.getElementById("phuong_xa");
      
        // Gọi API để lấy danh sách tỉnh/thành phố
        fetch("https://provinces.open-api.vn/api/p/")
          .then(response => response.json())
          .then(provinces => {
            // Tạo các phần tử option cho tỉnh/thành phố
            provinces.forEach(province => {
              const optionElement = document.createElement("option");
              optionElement.value = province.code;
              optionElement.text = province.name;
              provinceSelectElement.appendChild(optionElement);
            });
          })
          .catch(error => {
            console.error("Lỗi khi lấy danh sách tỉnh thành:", error);
          });
      
        // Sự kiện khi chọn tỉnh/thành phố
        provinceSelectElement.addEventListener("change", () => {
            const selectedProvinceCode = provinceSelectElement.value;
          // Xóa danh sách quận/huyện cũ
          districtSelectElement.innerHTML = `
          <option value="0">--Chọn Quận huyện--</option>
          `;
      
          // Gọi API để lấy danh sách quận/huyện theo tỉnh/thành phố đã chọn
          fetch(`https://provinces.open-api.vn/api/p/${selectedProvinceCode}/?depth=2`)
            .then(response => response.json())
            .then(districts => {
                console.log(districts)
              // Tạo các phần tử option cho quận/huyện
              districts['districts'].forEach(district => {
                const optionElement = document.createElement("option");
                optionElement.value = district.code;
                optionElement.text = district.name;
                districtSelectElement.appendChild(optionElement);
              });
            })
            .catch(error => {
              console.error("Lỗi khi lấy danh sách quận huyện:", error);
            });
        });



        districtSelectElement.addEventListener("change", () => {
            const selectedDistrictCode = districtSelectElement.value
          // Xóa danh sách quận/huyện cũ
          wardSelectElement.innerHTML = `
          <option value="0">--Chọn phường xã--</option>
          `;
      
          // Gọi API để lấy danh sách quận/huyện theo tỉnh/thành phố đã chọn
          fetch(`https://provinces.open-api.vn/api/d/${selectedDistrictCode}/?depth=2`)
            .then(response => response.json())
            .then(wards => {
                console.log(wards)
              // Tạo các phần tử option cho quận/huyện
              wards['wards'].forEach(ward => {
                const optionElement = document.createElement("option");
                optionElement.value = ward.code;
                optionElement.text = ward.name;
                wardSelectElement.appendChild(optionElement);
              });
            })
            .catch(error => {
              console.error("Lỗi khi lấy danh phường xã:", error);
            });
        });
    </script>

{% endblock %}

