{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_pagination.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_carosel_ck_sin_bs.css' %}">
<link rel="stylesheet" href="{% static 'user/css/style_bac_si.css'%}">

<!-- Main Stylesheet -->


<div class="tong">
    <section class="page-title bg-1">
        {% comment %} <div class="overlay"></div> {% endcomment %}
        <div class="container">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white"></span>
                {% comment %} <h1 class="text-capitalize mb-5 text-lg">Tổng hợp bác sĩ</h1> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section department-single">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Chuyên Khoa</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p>Mỗi một khoa đều có một chức năng nhất định và đều có mục đích chung là góp phần nâng cao chất lượng sức khỏe cho tất cả người dân</p>
                </div>
            </div>
          </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="department-content mt-5">
                        <div class="department-img text-center">
                          <img src="{{chuyen_khoa.anhminhhoa}}" alt="" class="img-fluid w-50">
                        </div>
                        <br>
                        <h3 class="text-md text-center">Chuyên Khoa {{ chuyen_khoa.tenkhoa }}</h3>
                        <br>
                        <p class="lead">{{chuyen_khoa.gioithieu}}</p>
                        <div class="divider my-4"></div>
                        <p>{{chuyen_khoa.mota|safe}}</p>
                    </div>
                    
                </div>
            </div>

            <div id="all_bac_si" class="row = portfolio-gallery">
              {% for bac_si in bac_sis %}
              <div class="shuffle-item col-lg-12 col-md-12">
                  <div class="ds-bac_si">
                      <div class="card">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-lg-6">
                                      <div class="row">
                                          <div class = "tt-bac-si">
                                              <div class="tt-bac-si-img col-lg-3 col-sm-3 col-md-3">
                                                  <a href="{% url 'user_bac_si_single' bac_si.id %}"><img src="{{bac_si.full_info.user.anhdaidien}}" alt="doctor-image" class="img-fluid w-100"></a>
                                                  <a href="{% url 'user_bac_si_single' bac_si.id %}">Xem thêm</a>
                                              </div>
                                              <div class="tt-bac-si-content col-lg-9 col-sm-9 col-md-9">
                                                  <a href="{% url 'user_bac_si_single' bac_si.id %}"><strong>{{bac_si.full_info.user.hoten}}</strong></a>
                                                  <br/>
                                                  <br>
                                                  <p>{{bac_si.gioithieu}}</p>
                                                  <div class="tt-phong-kham">
                                                      <h5>ĐỊA CHỈ KHÁM</h5>
                                                      <p>
                                                          {{bac_si.full_info.phongkham.tenphongkham}}
                                                          <br>
                                                          {{bac_si.full_info.phongkham.diachi}}
                                                      </p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>    
                                  </div>
                                  <div class="col-lg-6 tt-lich-kham">
                                      <div class="tab-container tab-left">
                                          <select id="tab-select-{{bac_si.id}}" class="tab-select">
                                              {% for ca_kham in bac_si.ca_khams %}
                                              <option value="tab-{{ca_kham.ngay_kham}}-{{bac_si.id}}" {% if ca_kham.ngay_kham == ngay_thang %} selected {% endif %}>
                                                  {% if ca_kham.thu == '1' %}Thứ 2
                                                  {% elif ca_kham.thu == '2' %}Thứ 3
                                                  {% elif ca_kham.thu == '3' %}Thứ 4
                                                  {% elif ca_kham.thu == '4' %}Thứ 5
                                                  {% elif ca_kham.thu == '5' %}Thứ 6
                                                  {% elif ca_kham.thu == '6' %}Thứ 7
                                                  {% elif ca_kham.thu == '0' %}Chủ Nhật
                                                  {% endif %}/{{ca_kham.ngay_kham}}</a></li>
                                              </option>
                                              {% endfor %}
                                          </select>
                                          <div class="tab-content">
                                              {% for ca_kham in bac_si.ca_khams  %}
                                              <div class="tab-pane tab-select-{{bac_si.id}} {% if ca_kham.ngay_kham == ngay_thang %} active {% endif %}" id="tab-{{ca_kham.ngay_kham}}-{{bac_si.id}}" role="tabpanel">
                                                  <h5><i class="icofont-calendar"></i>
                                                      Lịch Khám  {% if ca_kham.thu == '1' %}Thứ 2
                                                      {% elif ca_kham.thu == '2' %}Thứ 3
                                                      {% elif ca_kham.thu == '3' %}Thứ 4
                                                      {% elif ca_kham.thu == '4' %}Thứ 5
                                                      {% elif ca_kham.thu == '5' %}Thứ 6
                                                      {% elif ca_kham.thu == '6' %}Thứ 7
                                                      {% elif ca_kham.thu == '0' %}Chủ Nhật
                                                      {% endif %}/{{ca_kham.ngay_kham}}
                                                  </h5>
                                                  {% for ca  in ca_kham.ca_khams %}
                                                  <a href="#" class="btn btn-primary">{{ca.thoigianbatdau}} - {{ca.thoigiakethuc}}</a>
                                                  {% endfor %}
                                              </div>
                                              {% endfor %}
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>

          <div class="col-12">
              <nav>
                <ul class="pagination justify-content-center">
                  {% if pagination.previous %}
                      <li class="page-item">
                          <a class="page-link" href="?{% if search != "" %}search={{search}}&{% endif %}page=1">&#60;&#60;</a>
                          {% comment %} <a class="page-link" href="?page=1{% querystring_replace request.META.QUERY_STRING %}">&#60;&#60;</a> {% endcomment %}
                      </li>
                      <li class="page-item ">
                          <a class="page-link" href="?{% if search != "" %}search={{search}}&{% endif %}page={{pagination.previous}}">&#60;</a>
                      </li>
                  {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" href="#">&#60;&#60;</a>
                      </li>
                      <li class="page-item disabled">
                          <a class="page-link" href="#">&#60;</a>
                      </li>
                  {%endif%}	
                  
                  {% for i in pagination.total_pages %}
                      {% if pagination.current_page == i %}
                          {% if i != 1 %}
                          <li class="page-item ">
                              <a class="page-link" href="?{% if search != "" %}search={{search}}&{% endif %}page={{pagination.current_page|add:"-1"}}">{{pagination.current_page|add:"-1"}}</a>
                          </li>
                          {% endif %} 
                          <li class="page-item active">
                              <a class="page-link" href="">{{i}}</a>
                          </li>
                      {% endif %}
                  {% endfor %}
                  {% if pagination.current_page != pagination.total_pages|last %}
                  <li class="page-item ">
                      <a class="page-link" href="?{% if search != "" %}search={{search}}&{% endif %}page={{pagination.current_page|add:1}}">{{pagination.current_page|add:1}}</a>
                  </li>	
                  <li class="page-item">
                      <a class="page-link" href="">&hellip;</a>
                  </li>
                  {% endif %}
                  {% if pagination.next %}
                      <li class="page-item">
                          <a class="page-link"  href="?{% if search != "" %}search={{search}}&{% endif %}page={{pagination.next}}">&#62;</a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?{% if search != "" %}search={{search}}&{% endif %}page={{pagination.total_pages|last}}">&#62;&#62;</a>
                      </li>
                  {%else%}
                      <li class="page-item disabled">
                          <a class="page-link" href="#">&#62;</a>
                      </li>
                      <li class="page-item disabled">
                          <a class="page-link" href="#">&#62;&#62;</a>
                      </li>
                  {% endif %}
                </ul>
              </nav>
          </div>


            <br/>

            <div class="chuyen_khoa_all">
              <h4 class="text-md">Các Chuyên khoa nổi bậc</h4>
              <div class="divider my-4"></div>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for chuyen_khoa_tab in chuyen_khoa_all_tab %}
                      <div class="carousel-item {% if chuyen_khoa_tab == chuyen_khoa_all_tab.0 %} active {%endif%}">
                        <div class="product-tab card-deck">
                          {% for chuyen_khoa in chuyen_khoa_tab %}
                          <div class="product-tab-item card">
                            <a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">
                                <img src="{{chuyen_khoa.anhminhhoa}}" class="d-block w-100" height=170 />
                                <span></span>
                            </a>
                            <br>
                            <h5><a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">Khoa {{chuyen_khoa.tenkhoa}}</a>
                            </h5>
                            <div>
                                <p>
                                  {{chuyen_khoa.gioithieu}}
                                </p>
                            </div>
                        </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
              </div>
            </div>

        </div>
    </section>
    

</div>

    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>

    <script>
      $(document).ready(function() {
          // Bắt sự kiện change của select
          $('.tab-select').on('change', function() {
            // Lấy giá trị option được chọn
              var selectedTab = $(this).val();
              console.log(selectedTab)

              var selectId = $(this).attr('id');
              console.log(selectId)
            // Xóa lớp active khỏi tất cả các tab-pane và liên kết tab  
              var selectId = $(this).attr('id');
          // Xóa lớp active khỏi tất cả các tab-pane và liên kết tab
              $('.' + selectId ).removeClass('active'); 
            // Thêm lớp active cho tab-pane và liên kết tab tương ứng
              $('#' +selectedTab).addClass('active');
            
          });
        });

  </script>

{% endblock %}

