{% extends 'user/base.html' %}
{% load static %}
{% load rest_framework %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_pagination.css'%}">
<!-- Main Stylesheet -->


<div class="tong">
    <section class="page-title bg-1">
        {% comment %} <div class="overlay"></div> {% endcomment %}
        <div class="container">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white"></span>
                {% comment %} <h1 class="text-capitalize mb-5 text-lg">Tổng hợp bác sĩ</h1> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section service-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Chuyên Khoa </h2>
                        <div class="divider mx-auto my-4"></div>
                        <p>Mỗi khoa khác nhau đều có chức năng khác nhau, cách khám bệnh khác nhau
                            <br>
                            Nhưng tất cả đều dẫn đến một mục đích chung đó là thăm, khám, chưa bệnh cho mọi bệnh nhân một cách nhanh chóng và chính xát.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="row" id ="all_chuyen_khoa">
                {% comment %} {% for chuyen_khoa in chuyen_khoas.results %}
                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5">
                        <a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}"><img src="{{chuyen_khoa.anhminhhoa}}" alt="" class="img-fluid w-100"></a>
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">{{chuyen_khoa.tenkhoa}}</h4>
                            <p class="mb-4">{{chuyen_khoa.gioithieu}}</p>
                            <a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}" class="read-more btn btn-primary">Learn More  <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endcomment %}
            </div>
            <div class="pagina">
                <ul id="pagination"></ul>
            </div>
    </section>    
</div>

    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\js/js_show_chuyen_khoa.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>

    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>

{% endblock %}

