{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">

<!-- Main Stylesheet -->


<div class="tong">
    <section class="page-title bg-1 bg-bai-viet">
        {% comment %} <div class="overlay"></div> {% endcomment %}
        <div class="container">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white"></span>
                {% comment %} <h1 class="text-capitalize mb-5 text-lg">Tổng hợp bác sĩ</h1> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="section blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 text-center">
                            <div class="section-title">
                                <h2>Bài viết / cẩm nang</h2>
                                <div class="divider mx-auto my-4"></div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mb-5">
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <img src="{% static 'user/images/blog/blog-1.jpg'%}" alt="" class="img-fluid ">
                                </div>

                                <div class="blog-item-content">
                                    <div class="blog-item-meta mb-3 mt-4">
                                        <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
                                        <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
                                    </div>

                                    <h2 class="mt-3 mb-3"><a href="blog-single.html">Choose quality service over cheap service  all type of things</a></h2>

                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid architecto facere commodi cupiditate omnis voluptatibus inventore atque velit cum rem id assumenda quam recusandae ipsam ea porro, dicta ad.</p>

                                    <a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Read More <i class="icofont-simple-right ml-2  "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 mb-5">
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <img src="{% static 'user/images/blog/blog-2.jpg'%}" alt="" class="img-fluid">
                                </div>

                                <div class="blog-item-content">
                                    <div class="blog-item-meta mb-3 mt-4">
                                        <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
                                        <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
                                    </div>

                                    <h2 class="mt-3 mb-3"><a href="blog-single.html">All test cost 25% in always in our laboratory</a></h2>

                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid architecto facere commodi cupiditate omnis voluptatibus inventore atque velit cum rem id assumenda quam recusandae ipsam ea porro, dicta ad.</p>

                                    <a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Read More <i class="icofont-simple-right ml-2  "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 mb-5">
                            <div class="blog-item">
                                <div class="blog-thumb">
                                    <img src="{% static 'user/images/blog/blog-4.jpg'%}" alt="" class="img-fluid">
                                </div>

                                <div class="blog-item-content">
                                    <div class="blog-item-meta mb-3 mt-4">
                                        <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
                                        <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 28th January</span>
                                    </div>
                                    <h2 class="mt-3 mb-3"><a href="blog-single.html">Get Free consulation from our special surgeon and doctors</a></h2>

                                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis aliquid architecto facere commodi cupiditate omnis voluptatibus inventore atque velit cum rem id assumenda quam recusandae ipsam ea porro, dicta ad.</p>

                                    <a href="{% url 'user_bai_viet_single' 1 %}" target="_blank" class="btn btn-main btn-icon btn-round-full">Read More <i class="icofont-simple-right ml-2  "></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <nav class="pagination py-2 d-inline-block">
                                <div class="nav-links">
                                    <span aria-current="page" class="page-numbers current">1</span>
                                    <a class="page-numbers" href="#!">2</a>
                                    <a class="page-numbers" href="#!">3</a>
                                    <a class="page-numbers" href="#!"><i class="icofont-thin-double-right"></i></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
                        <div class="sidebar-widget search  mb-3 ">
                            <h5>Search Here</h5>
                            <form action="#" class="search-form search-bai-viet">
                                <input type="text" class="form-control" placeholder="search">
                                <i class="ti-search"></i>
                            </form>
                        </div>
                        <div class="sidebar-widget latest-post mb-3">
                            <h5>Popular Posts</h5>
                            <div class="py-2">
                                <span class="text-sm text-muted">03 Mar 2018</span>
                                <h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
                            </div>
                            <div class="py-2">
                                <span class="text-sm text-muted">03 Mar 2018</span>
                                <h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
                            </div>
                            <div class="py-2">
                                <span class="text-sm text-muted">03 Mar 2018</span>
                                <h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
                            </div>
                        </div>
                        <div class="sidebar-widget category mb-3">
                            <h5 class="mb-4">Categories</h5>
                            <ul class="list-unstyled">
                                <li class="align-items-center">
                                    <a href="#">Medicine</a>
                                    <span>(14)</span>
                                </li>
                                <li class="align-items-center">
                                    <a href="#">Equipments</a>
                                    <span>(2)</span>
                                </li>
                                <li class="align-items-center">
                                    <a href="#">Heart</a>
                                    <span>(10)</span>
                                </li>
                                <li class="align-items-center">
                                    <a href="#">Free counselling</a>
                                    <span>(5)</span>
                                </li>
                                <li class="align-items-center">
                                    <a href="#">Lab test</a>
                                    <span>(5)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget tags mb-3">
                            <h5 class="mb-4">Tags</h5>
                            <a href="#">Doctors</a>
                            <a href="#">agency</a>
                            <a href="#">company</a>
                            <a href="#">medicine</a>
                            <a href="#">surgery</a>
                            <a href="#">Marketing</a>
                            <a href="#">Social Media</a>
                            <a href="#">Branding</a>
                            <a href="#">Laboratory</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>

    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>

{% endblock %}

