{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">

<!-- Main Stylesheet -->


<div class="tong">
    <section class="page-title bg-1 bg-bai-viet">
        {% comment %} <div class="overlay"></div> {% endcomment %}
        <div class="container">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white"></span>
                {% comment %} <h1 class="text-capitalize mb-5 text-lg">Tổng hợp bác sĩ</h1> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section blog-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12 mb-5">
                            <div class="single-blog-item">
                                <img src="{% static 'user/images/blog/blog-1.jpg'%}" alt="" class="img-fluid">
                                <div class="blog-item-content mt-5">
                                    <div class="blog-item-meta mb-3">
                                        <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 bình luận</span>
                                        <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> 28th January 2019</span>
                                    </div>

                                    <h2 class="mb-4 text-md"><a href="blog-single.html">Healthy environment to care with modern equipment</a></h2>

                                    <p class="lead mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus natus, consectetur? Illum libero vel nihil nisi quae, voluptatem, sapiente necessitatibus distinctio voluptates, iusto qui. Laboriosam autem, nam voluptate
                                        in beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae iure officia nihil nemo, repudiandae itaque similique praesentium non aut nesciunt facere nulla, sequi sunt nam temporibus atque earum, ratione,
                                        labore.
                                    </p>

                                    <blockquote class="quote">
                                        A brand for a company is like a reputation for a person. You earn reputation by trying to do hard things well.
                                    </blockquote>


                                    <p class="lead mb-4 font-weight-normal text-black">The same is true as we experience the emotional sensation of stress from our first instances of social rejection ridicule. We quickly learn to fear and thus automatically.
                                    </p>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, rerum beatae repellat tenetur incidunt quisquam libero dolores laudantium. Nesciunt quis itaque quidem, voluptatem autem eos animi laborum iusto expedita
                                        sapiente.
                                    </p>

                                    <div class="mt-5 clearfix">
                                        <ul class="float-right list-inline">
                                            <li class="list-inline-item"> Share: </li>
                                            <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
                                            <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
                                            <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
                                            <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="comment-area mt-4 mb-5">
                                <h4 class="mb-4">2 Comments on Healthy environment... </h4>
                                <ul class="comment-tree list-unstyled">
                                    <li class="mb-5">
                                        <div class="comment-area-box d-block d-sm-flex">
                                            <div class="comment-thumb">
                                                <img alt="" src="{% static 'user/images/blog/testimonial1.jpg'%}" style="width: 70px">
                                            </div>

                                            <div class="block">
                                                <div class="comment-info">
                                                    <h5 class="mb-1">John</h5>
                                                    <span>United Kingdom</span>
                                                    <span class="date-comm">| Posted April 7, 2019</span>
                                                </div>
                                                <div class="comment-meta mt-2">
                                                    <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
                                                </div>

                                                <div class="comment-content mt-3">
                                                    <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company that provides consultants on an agency basis. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="comment-area-box d-block d-sm-flex">
                                            <div class="comment-thumb">
                                                <img alt="" src="images/blog/testimonial2.jpg" style="width: 70px">
                                            </div>

                                            <div class="block">
                                                <div class="comment-info">
                                                    <h5 class="mb-1">Philip W</h5>
                                                    <span>United Kingdom</span>
                                                    <span class="date-comm">| Posted June 7, 2019</span>
                                                </div>

                                                <div class="comment-meta mt-2">
                                                    <a href="#!"><i class="icofont-reply mr-2 text-muted"></i>Reply </a>
                                                </div>

                                                <div class="comment-content mt-3">
                                                    <p>Some consultants are employed indirectly by the client via a consultancy staffing company, a company that provides consultants on an agency basis. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <form class="comment-form my-5" id="comment-form">
                                <h4 class="mb-4">Write a comment</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
                                        </div>
                                    </div>
                                </div>


                                <textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>

                                <input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>

    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>

{% endblock %}

