{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_carosel_ck_sin_bs.css' %}">

<!-- Main Stylesheet -->


<div class="tong">
    <section class="page-title bg-1">
        {% comment %} <div class="overlay"></div> {% endcomment %}
        <div class="container">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white"></span>
                {% comment %} <h1 class="text-capitalize mb-5 text-lg">Tổng hợp bác sĩ</h1> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </section>
    
    <section class="section about-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="title-color text-center">Dịch vụ y tế sẵn sàng phục vụ 24/24</h2>
                </div>
                <div class="col-lg-8">
                    <p>
                        BOOKINCARE TM là một trang web đặt lịch khám bệnh trực tuyến tiện lợi và đáng tin cậy. Với giao diện thân thiện và dễ sử dụng, bạn có thể dễ dàng tìm kiếm các phòng khám, bác sĩ và lịch khám phù hợp với nhu cầu của mình. Đặc biệt, BOOKINCARE TM cung cấp nhiều chuyên khoa khác nhau, đảm bảo rằng bạn sẽ tìm thấy dịch vụ y tế mà mình cần. Hơn nữa, việc đặt lịch khám bệnh trực tuyến trên BOOKINCARE TM cũng giúp bạn tiết kiệm thời gian và nỗ lực so với việc phải đến trực tiếp phòng khám.
                    </p>
                    <img src="images/about/sign.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    
    <section class="fetaure-page ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Chuyên Khoa nổi bậc </h2>
                        <div class="divider mx-auto my-4"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chuyen_khoa_all">
                    <h4 class="text-md">Các Chuyên khoa nổi bậc</h4>
                    <div class="divider my-4"></div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                          {% for chuyen_khoa_tab in chuyen_khoa_all_tab %}
                            <div class="carousel-item {% if chuyen_khoa_tab == chuyen_khoa_all_tab.0 %} active {%endif%}">
                              <div class="product-tab card-deck">
                                {% for chuyen_khoa in chuyen_khoa_tab %}
                                <div class="product-tab-item card">
                                  <a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">
                                      <img src="{{chuyen_khoa.anhminhhoa}}" class="d-block w-100" height=170 />
                                      <span></span>
                                  </a>
                                  <br>
                                  <h5><a href="{% url 'user_chuyen_khoa_single' chuyen_khoa.id %}">Khoa {{chuyen_khoa.tenkhoa}}</a>
                                  </h5>
                                  <div>
                                      <p>
                                        {{chuyen_khoa.gioithieu}}
                                      </p>
                                  </div>
                              </div>
                                {% endfor %}
                              </div>
                            </div>
                          {% endfor %}
                      </div>
                      <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </button>
                    </div>
                    <div class="text-right">
                        <a href="{% url 'user_chuyen_khoa' %}" class="read-more btn btn-primary">Xem thêm<i class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section awards">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <h2 class="title-color">Các đối tác chính</h2>
                    <div class="divider mt-4 mb-5 mb-lg-0"></div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="">
                                <img src="{% static  'admin/assets/img/logo_truong.png' %}" alt="" class="img-fluid w-50">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="">
                                <img src="{% static 'admin/assets/img/logo_cong_nghe_so.png' %}" alt="" class="img-fluid w-50">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="">
                                <img src="{% static 'admin/assets/img/ubnd-da-nang.png' %}" alt="" class="img-fluid w-50">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h2 class="mb-4">Bác sĩ tiêu biểu</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p></p>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="{% static 'user/images/team/1.jpg'%}" alt="" class="img-fluid w-100">
    
                        <div class="content">
                            <h4 class="mt-4 mb-0"><a href="doctor-single.html">John Marshal</a></h4>
                            <p>Internist, Emergency Physician</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="{% static 'user/images/team/1.jpg'%}" alt="" class="img-fluid w-100">
    
                        <div class="content">
                            <h4 class="mt-4 mb-0"><a href="doctor-single.html">Marshal Root</a></h4>
                            <p>Surgeon, Сardiologist</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block mb-5 mb-lg-0">
                        <img src="{% static 'user/images/team/1.jpg'%}" alt="" class="img-fluid w-100">
    
                        <div class="content">
                            <h4 class="mt-4 mb-0"><a href="doctor-single.html">Siamon john</a></h4>
                            <p>Internist, General Practitioner</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-block">
                        <img src="{% static 'user/images/team/1.jpg'%}" alt="" class="img-fluid w-100">
    
                        <div class="content">
                            <h4 class="mt-4 mb-0"><a href="doctor-single.html">Rishat Ahmed</a></h4>
                            <p>Orthopedic Surgeon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="section-title">
                        <h2 class="mb-4">Khách hàng nói gì về chúng tôi</h2>
                        <div class="divider  my-4"></div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 testimonial-wrap offset-lg-6">
                    <div class="testimonial-block">
                        <div class="client-info ">
                            <h4>Amazing service!</h4>
                            <span>John Partho</span>
                        </div>
                        <p>
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                        </p>
                        <i class="icofont-quote-right"></i>
                        
                    </div>
                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Expert doctors!</h4>
                            <span>Mullar Sarth</span>
                        </div>
                        <p>
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>
                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Good Support!</h4>
                            <span>Kolis Mullar</span>
                        </div>
                        <p>
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>
    
                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Nice Environment!</h4>
                            <span>Partho Sarothi</span>
                        </div>
                        <p>
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>
                    <div class="testimonial-block">
                        <div class="client-info">
                            <h4>Modern Service!</h4>
                            <span>Kolis Mullar</span>
                        </div>
                        <p>
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                        </p>
                        <i class="icofont-quote-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>

    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>

{% endblock %}

