{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">

<!-- Main Stylesheet -->


<div class="tong">
    <section class="page-title bg-1">
        {% comment %} <div class="overlay"></div> {% endcomment %}
        <div class="container">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white"></span>
                {% comment %} <h1 class="text-capitalize mb-5 text-lg">Tổng hợp bác sĩ</h1> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section contact-info pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="contact-block mb-4 mb-lg-0">
                <i class="icofont-live-support"></i>
                <h5>Số điện thoại</h5>
                03329990471
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="contact-block mb-4 mb-lg-0">
                <i class="icofont-support-faq"></i>
                <h5>Email</h5>
                minhtandz951@mail.com
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="contact-block mb-4 mb-lg-0">
                <i class="icofont-location-pin"></i>
                <h5>Địa chỉ</h5>
                09 Cao Thắng, Hải Châu, Đà Nẵng
              </div>
            </div>
          </div>
        </div>
    </section>
      
    <section class="contact-form-wrap section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section-title text-center">
                <h2 class="text-md mb-2">Đặt câu hỏi</h2>
                <div class="divider mx-auto my-4"></div>
                <p class="mb-5">Laboriosam exercitationem molestias beatae eos pariatur, similique, excepturi mollitia sit
                  perferendis maiores ratione aliquam?</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <form id="contact-form" class="contact__form " method="post" action="mail.php">
                <!-- form message -->
                <div class="row">
                  <div class="col-12">
                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                      Your message was sent successfully.
                    </div>
                  </div>
                </div>
      
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input name="name" id="name" type="text" class="form-control" placeholder="Your Full Name">
                    </div>
                  </div>
      
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input name="email" id="email" type="email" class="form-control" placeholder="Your Email Address" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input name="subject" id="subject" type="text" class="form-control" placeholder="Your Query Topic" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input name="phone" id="phone" type="text" class="form-control" placeholder="Your Phone Number" required>
                    </div>
                  </div>
                </div>
      
                <div class="form-group-2 mb-4">
                  <textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message" required></textarea>
                </div>
      
                <div>
                  <input class="btn btn-main btn-round-full" name="submit" type="submit" value="Send Messege"></input>
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>    
    <div class="google-map ">
          <div id="map" data-latitude="16.079827011906197" data-longitude="108.2152603082922" data-marker="{% static 'user/images/marker.png'%}"></div>
    </div>
</div>

    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>

    <!-- Google Map -->
     <!-- Google Map -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA"></script>
     <script src="{% static 'user/plugins/google-map/gmap.js'%}"></script>

    <script src="{% static 'user\js/script.js'%}"></script>

{% endblock %}

