{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'admin/assets\img\logo-fav.png' %}">
    <title>Admin WEBSITE BÁC SĨ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
    <link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'user\css\style_header.css'%}">
    <link rel="stylesheet" href="{% static 'admin\assets\css\style_custom.css'%}">
    <script src="{% static 'user/ckeditor/ckeditor.js'%}" type="text/javascript"></script>
  </head>
  <body>

    <div class="be-wrapper be-fixed-sidebar"> 
        {% include 'admin_ad/header_ad/header.html'%}
        {% include 'admin_ad/header_ad/left_nav.html'%}

        {% block content %}

        {% endblock %}
        {% include 'admin_ad/header_ad/right_nav.html'%}
    </div>
  </body>
</html>