{% extends 'admin_ad/base.html' %}
{% load static %} 
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\perfect-scrollbar\css\perfect-scrollbar.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\material-design-icons\css\material-design-iconic-font.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\bootstrap-slider\css\bootstrap-slider.min.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />

<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Quản Lý Chuyên khoa</h2>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb page-head-nav">
                <li class="breadcrumb-item"><a href="{% url 'admin_home_admin' %}">Admin</a></li>
                <li class="breadcrumb-item"><a href="{% url 'admin_quan_ly_chuyen_khoa' %}">Quản lý khoa</a></li>
                <li class="breadcrumb-item active">Cập nhập chuyên khoa</li>
            </ol>
        </nav>
    </div>
    <div class="main-content container-fluid">
            <div class="card card-border-color card-border-color-primary">
                <div class="card-header card-header-divider">Cập nhập chuyên khoa</div>
                <div class="card-body">
                    <form action="#" data-parsley-validate="" novalidate="">
                        <div class ="row">
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <label for="inputtenKhoa">Tên Khoa</label>
                                    <input class="form-control" id="inputTenKhoa" type="text" name="ten_khoa" parsley-trigger="change" required="" placeholder="Nhập tên Khoa" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <label for="inputMoTa">Mô tả</label>
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div id="editor1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <label for="inputtenKhoa">Hình ảnh</label>
                                <div class="image_add form-group">
                                    <div class="preview">
                                    <img id="img-preview" src="{% static 'admin/assets/img/362x239.png' %}" />
                        
                                    <label class="label_input" for="file-input">Chọn file</label>
                                    <input accept="image/*" type="file" id="file-input"  name="imgae_khoa" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-12" >
                                <p class="text-right">
                                <button class="btn btn-space btn-primary" type="submit">Cập nhập</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

    </div>
</div>

<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\js_custom.js'%}"></script>
<script type="text/javascript">
     $(document).ready(function(){
      //-initialize the javascript
        App.init();
        App.textEditors();
        const demoTextArea = document.querySelector('.note-codable');
        demoTextArea.setAttribute('name', 'mo_ta_khoa');     
        App.formElements();   
    });
</script>

{% endblock content%}
