.ul_user li {
    padding: 0 10px;
}

.ul_user li a {
    color: rgb(110, 110, 110) !important;
    font-size: 15px;
}

.be-left-sidebar ul li i {
    font-size: 15px;
}

.gradeA td a {
    color: rgb(52, 52, 52) !important;
}


/* img add admin */

.image_add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_add #file-input {
    display: none;
}

.image_add .preview {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
}

.image_add img {
    width: 100%;
    height: 372px;
    object-fit: scale-down;
    margin-bottom: 20px;
}

.image_add .label_input {
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(101, 101, 255);
}