{% load static %}
{% if messages %}
    {% for message in messages %}
    <div id="alert-messages" class='container'> 
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible "{% endif %} role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close" {% if message.level == DEFAULT_MESSAGE_LEVELS.WARING %} style="color:red" {%endif%}>
                <span class="mdi mdi-close" aria-hidden="true"></span>
            </button>
            <div class="icon"><span class="mdi mdi-{% if message.tags == 'success' %}check{%elif message.tags == 'warning'%}alert-triangle{% endif %}"></span></div>
            <div class="message"{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color:red" {% endif %} >
                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARING %}ERROR: {% endif %}
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}