{% load static %}
<header>
    {% include 'admin_ad/header_ad/header.html' %}
    <nav class="navbar navbar-expand-lg navigation" id="navbar" >
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="{% static 'user/images/logo.png' %}" alt="ảnh đại diện" class="img-fluid">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont-navigation-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'user_home' %}">TRANG CHỦ</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url  'bacsi_ca_kham'%}">CA KHÁM</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">LỊCH KHÁM</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">KHÁCH HÀNG</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">HỒ SƠ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">THÔNG BÁO</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>