{% load static %}
<link rel="stylesheet" href="{% static 'user/css/style_footer.css' %}">
<div class="footer section gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <div class="logo mb-4">
                        <img src="images/logo.png" alt="" class="img-fluid">
                    </div>
                    <p>
                        Website đặt lịch khám bệnh tại thành phố Đà Nẵng
                    </p>
                    <p>
                        Đại Học sư phạm kỹ thuật Đà Nẵng
                    </p>
                    <p>
                        Sinh viên khoa Công nghệ số
                    </p>
                    

                    <ul class="list-inline footer-socials mt-4">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/minh.mayman.16906"><i class="icofont-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/MinhTan44445034"><i class="icofont-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Menu</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#!">Trang Chủ</a></li>
                        <li><a href="#!">Bác sĩ</a></li>
                        <li><a href="#!">Chuyên Khoa</a></li>
                        <li><a href="#!">Blog y khoa</a></li>
                        <li><a href="#!">Giới thiệu</a></li>
                        <li><a href="#!">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Chuyên Khoa</h4>
                    <div class="divider mb-4"></div>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#!">Tim Mạch</a></li>
                        <li><a href="#!">Tai mũi họng</a></li>
                        <li><a href="#!">Mắt </a></li>
                        <li><a href="#!">Thần kinh</a></li>
                        <li><a href="#!">Nha khoa</a></li>
                        <li><a href="#!">Chỉnh Hình</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget widget-contact mb-5 mb-lg-0">
                    <h4 class="text-capitalize mb-3">Hỗ trợ</h4>
                    <div class="divider mb-4"></div>

                    <div class="footer-contact-block mb-4">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-email mr-3"></i>
                            <span class="h6 mb-0">Hỗ trợ 24/7 24/7</span>
                        </div>
                        <h4 class="mt-2"><a href="mailto:minhtandz951@email.com">minhtandz951@email.com</a></h4>
                    </div>

                    <div class="footer-contact-block">
                        <div class="icon d-flex align-items-center">
                            <i class="icofont-support mr-3"></i>
                            <span class="h6 mb-0">Thứ 2 to 6 : 08:30 - 18:00</span>
                        </div>
                        <h4 class="mt-2"><a href="tel:0329990471">+0329990471</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-btm py-4 mt-5">
           

            <div class="row">
                <div class="col-lg-4">
                    <a class="backtop scroll-top-to" href="#top">
                        <i class="icofont-long-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
