{% load static %}
    <nav id="sidebar">
        <div class="sidebar-header">
            <img class="w-50" src="{{ user.imageURL }}" alt="">
            <h5>{{user.hoten}}</h5>
            <h4 style="font-weight:bold">Tài khoản bác sĩ</h4>
        </div>
        <ul class="list-unstyled components">
            <li class="li-items text-left {%if '/ho_so_bac_si/profile' in request.path %}active{%endif%} ">
                <a href="{% url 'bacsi_ho_so_bac_si' %}"><i class="icon mdi icofont-doctor"></i>&emsp; Hồ sơ bác sĩ</a>
            </li>
            <li class=" {%if '/dang_ki_ca_kham/' in request.path %}active{%endif%} li-items text-left">
                <a href="{% url "bacsi_dang_ki_ca_kham" %}"><i class="icon icofont-file-document"></i>&emsp; Đăng kí ca khám</a>
            </li>
            <li class = "{%if 'lich_kham/lich_kham_bac_si' in request.path %}active{%endif%} li-items text-left">
                <a href="{% url 'bacsi_lich_kham' %}"><i class="icon icofont-calendar"></i>&emsp; Lịch khám bệnh</a>
            </li>
            <li class="li-items text-left">
                <a href="{% url 'bacsi_lich_su_kham_benh' %}"><i class="icon icofont-history"></i>&emsp; Lịch sử khám bệnh</a>
            </li >
        </ul>
        <ul class="list-unstyled CTAs">
            <li style="text-center " class=class="li-items">
                <a href="#" class="article"> <i class="icon mdi mdi-power"></i>&emsp; Log Out</a>
            </li>
        </ul>
    </nav>

