{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/slick-carousel/slick/slick-theme.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_index.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_bac_si.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style_carosel_ck_sin_bs.css' %}">

<!-- Main Stylesheet -->

<div class="tong">
    <section class="page-title bg-1">
        {% comment %} <div class="overlay"></div> {% endcomment %}
        <div class="container">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white"></span>
                {% comment %} <h1 class="text-capitalize mb-5 text-lg">Tổng hợp bác sĩ</h1> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
    </section>
    
    <section class="section doctor-single">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h2>Thông tin Bác sĩ</h2>
                        <div class="divider mx-auto my-4"></div>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="doctor-img-block">
                        <img src="{{bac_si.full_info.user.anhdaidien}}" alt="" class="img-fluid w-100">
    
                        <div class="info-block mt-4">
                            <h4 class="mb-0">
                                {% if bac_si.hocham != "0" %}{{bac_si.hocham}}, {% endif %} 
                                {% if bac_si.hocvi != "0" %}{{bac_si.hocvi}},{% endif %} 
                                {{bac_si.chucvu}}
                                {{bac_si.full_info.user.hoten}}</h4>
                            <p>Khoa điều trị : {{bac_si.full_info.chuyenkhoa.tenkhoa}}</p>
                            <ul class="list-inline mt-4 doctor-social-links">
                                <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#!"><i class="icofont-skype"></i></a></li>
                                <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-8 col-md-6">
                    <div class="doctor-details mt-4 mt-lg-0">
                        <h4 class="text-md">Giới thiệu bác sĩ</h4>
                        <div class="divider my-4"></div>
                        <p>{{bac_si.gioithieu}}</p>
                        <div class="tt-phong-kham">
                            <h5>ĐỊA CHỈ KHÁM</h5>
                            <p>
                                {{bac_si.full_info.phongkham.tenphongkham}}
                                <br>
                                {{bac_si.full_info.phongkham.diachi}}
                            </p>
                        </div>
                    </div>
                    <div class="tab-container tab-left">
                        <select id="tab-select-{{bac_si.id}}" class="tab-select">
                            {% for ca_kham in bac_si.ca_khams %}
                            <option value="tab-{{ca_kham.ngay_kham}}-{{bac_si.id}}" {% if ca_kham.ngay_kham == ngay_thang %} selected {% endif %}>
                                {% if ca_kham.thu == '1' %}Thứ 2
                                {% elif ca_kham.thu == '2' %}Thứ 3
                                {% elif ca_kham.thu == '3' %}Thứ 4
                                {% elif ca_kham.thu == '4' %}Thứ 5
                                {% elif ca_kham.thu == '5' %}Thứ 6
                                {% elif ca_kham.thu == '6' %}Thứ 7
                                {% elif ca_kham.thu == '0' %}Chủ Nhật
                                {% endif %}/{{ca_kham.ngay_kham}}</a></li>
                            </option>
                            {% endfor %}
                        </select>
                        <div class="tab-content">
                            {% for ca_kham in bac_si.ca_khams  %}
                            <div class="tab-pane tab-select-{{bac_si.id}} {% if ca_kham.ngay_kham == ngay_thang %} active {% endif %}" id="tab-{{ca_kham.ngay_kham}}-{{bac_si.id}}" role="tabpanel">
                                <h5><i class="icofont-calendar"></i>
                                    Lịch Khám  {% if ca_kham.thu == '1' %}Thứ 2
                                    {% elif ca_kham.thu == '2' %}Thứ 3
                                    {% elif ca_kham.thu == '3' %}Thứ 4
                                    {% elif ca_kham.thu == '4' %}Thứ 5
                                    {% elif ca_kham.thu == '5' %}Thứ 6
                                    {% elif ca_kham.thu == '6' %}Thứ 7
                                    {% elif ca_kham.thu == '0' %}Chủ Nhật
                                    {% endif %}/{{ca_kham.ngay_kham}}
                                </h5>
                                {% for ca  in ca_kham.ca_khams %}
                                <a href="{% url 'user_dat_lich_kham' ca.id %}" class="btn btn-primary btn-ca" >{{ca.thoigianbatdau}} - {{ca.thoigiakethuc}}</a>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section doctor-qualification gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Bác sĩ {{bac_si.full_info.user.hoten}}</h3>
                        <div class="divider my-4"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                   {{bac_si.thongtinchung|safe}}
                </div>
            </div>
        </div>
    </section>

    <section class="fetaure-page ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Chuyên Khoa nổi bậc </h2>
                        <div class="divider mx-auto my-4"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chuyen_khoa_all">
                    <h4 class="text-md">Các Chuyên khoa nổi bậc</h4>
                    <div class="divider my-4"></div>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                          {% for bac_si_tab in bac_si_all_tab %}
                            <div class="carousel-item {% if bac_si_tab == bac_si_all_tab.0 %} active {%endif%}">
                              <div class="product-tab card-deck">
                                {% for bac_si in bac_si_tab %}
                                <div class="product-tab-item card">
                                  <a href="{% url 'user_bac_si_single' bac_si.id %}">
                                      <img src="{{bac_si.full_info.user.anhdaidien}}" class="d-block w-100" height=170 />
                                      <span></span>
                                  </a>
                                  <br>
                                  <h5><a href="{% url 'user_bac_si_single' bac_si.id %}">Bác sĩ {{bac_si.full_info.user.hoten}}</a>
                                  </h5>
                                  <div>
                                      <p>
                                        {{bac_si.gioithieu}}
                                      </p>
                                  </div>
                              </div>
                                {% endfor %}
                              </div>
                            </div>
                          {% endfor %}
                      </div>
                      <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls"
                          data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-target="#carouselExampleControls"
                          data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </button>
                    </div>
                    <div class="text-right">
                        <a href="{% url 'user_bac_si' %}" class="read-more btn btn-primary">Xem thêm<i class="icofont-simple-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </section>
    
</div>

    <script src="{% static 'user\plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'user\plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'user\plugins/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'user\plugins/shuffle/shuffle.min.js'%}"></script>

    <!-- Google Map -->
    <script src="{% static 'user\js/script.js'%}"></script>
    <script>
        $(document).ready(function() {
            // Bắt sự kiện change của select
            $('.tab-select').on('change', function() {
              // Lấy giá trị option được chọn
                var selectedTab = $(this).val();
                console.log(selectedTab)

                var selectId = $(this).attr('id');
                console.log(selectId)
              // Xóa lớp active khỏi tất cả các tab-pane và liên kết tab  
                var selectId = $(this).attr('id');
            // Xóa lớp active khỏi tất cả các tab-pane và liên kết tab
                $('.' + selectId ).removeClass('active'); 
              // Thêm lớp active cho tab-pane và liên kết tab tương ứng
                $('#' +selectedTab).addClass('active');
              
            });
          });

    </script>

{% endblock %}

