.footer .widget a {
    text-decoration: none;
}

.footer .widget a:hover {
    color: rgb(21, 40, 254);
}

.footer .widget .footer-contact-block span {
    margin-bottom: 7% !important;
}

.footer .widget .footer-contact-block h4 a {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

.footer .widget .footer-contact-block h4 a:hover {
    color: rgb(21, 40, 254);
}