.service .row a {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.testimonial-2 {
    padding-top: 0px;
}

.bg-1 {
    height: 450px;
    background: url("../images/bg/bac_si.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.search-form {
    width: 50%;
    margin-bottom: 50px;
}

.search-form form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(192, 192, 192);
    float: left;
    border-radius: 10px 0px 0px 10px;
    width: 80%;
    height: 45px;
    background: #f1f1f1;
}


/* Style the submit button */

.search-form form.example button {
    text-align: center;
    float: left;
    width: 20%;
    height: 45px;
    padding: 10px;
    background: #2196F3;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

.search-form form.example button:hover {
    background: #0b7dda;
}


/* Clear floats */

.search-form form.example::after {
    content: "";
    clear: both;
    display: table;
}

.search-form i {
    position: absolute;
    right: 10%;
    top: 35%;
}

.ds-bac_si .tt-bac-si {
    display: flex;
}

.ds-bac_si .tt-bac-si .tt-bac-si-img {
    width: 40%;
    text-align: center;
    margin-right: 20px;
}

.ds-bac_si .tt-bac-si .tt-bac-si-img img {
    border-radius: 50%;
    margin-bottom: 5%;
}

.ds-bac_si .tt-bac-si .tt-bac-si-img a {
    text-decoration: none;
    color: #45C3D2;
    font-size: 15px;
}

.ds-bac_si .tt-bac-si .tt-bac-si-content a {
    text-decoration: none;
}

.ds-bac_si .tt-bac-si .tt-bac-si-content strong {
    font-size: 18px;
    color: #45C3D2;
}

.ds-bac_si .tt-bac-si .tt-bac-si-content p {
    font-size: 14px;
    line-height: 22px;
    color: #555;
}

.ds-bac_si .tt-bs-tt-kham {
    width: 100%;
}

.tt-lich-kham .nav-tabs {
    border-bottom: none;
}

.tt-lich-kham .tab-container {
    font-size: 15px;
}

.tt-lich-kham .tab-container .tab-content a {
    margin: 5px 2px;
    font-size: 13px;
    background: rgb(214, 214, 214);
    padding: 7px 2px;
    color: #555;
    font-weight: 600;
    border: none;
    border-radius: 2px;
}

.tt-lich-kham .tab-container .tab-content a:hover {
    border: 2px solid #45C3D2;
    box-shadow: none;
}

.bg-bai-viet {
    background: url("../images/bg/bg-2.jpg") no-repeat top 20% right 20%;
}

.search-bai-viet {
    width: 100%;
}

.blog-wrap .row .blog-item {
    font-size: 16px;
}

.blog-wrap .row .blog-item h2 a {
    font-size: 22px;
    background: none;
    color: #555;
    text-decoration: none;
}

.blog-wrap .row .blog-item h2 a:hover {
    background: none;
    color: #0b7dda;
}

.blog-wrap .row .blog-item a {
    border-radius: 5px;
    padding: 5px 10px;
    background: #2196F3;
    color: #fff;
}

.blog-wrap .row .blog-item a:hover {
    background: #0b7dda;
    border: none;
}

.tab-panel .tab-content a {
    margin: 5px 10px;
    font-size: 14px;
    background: rgb(214, 214, 214);
    padding: 5px 15px;
    color: #555;
    font-weight: 600;
    border: none;
    border-radius: 2px;
}

.tab-panel .tab-content a:hover {
    border: 2px solid #45C3D2;
    box-shadow: none;
}

.hidden {
    display: none !important;
}

.hidden-class {
    display: none !important;
}