.add-nhanh-ca-kham .hidden-checkbox {
    display: none;
}


/* Style cho button */

.add-nhanh-ca-kham .custom-checkbox {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 10px;
}

.add-nhanh-ca-kham .custom-checkbox.active {
    background-color: #2ecc71;
    color: #fff;
}

.add-nhanh-ca-kham .hidden {
    display: none;
}

#them-ca-kham {
    display: none;
}

.footer .widget {
    background: #f4f9fc;
}

.footer .widget a {
    text-decoration: none;
}

.footer .widget a:hover {
    color: rgb(21, 40, 254);
}

.footer .widget .footer-contact-block span {
    margin-bottom: 7% !important;
}

.footer .widget .footer-contact-block h4 a {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

.footer .widget .footer-contact-block h4 a:hover {
    color: rgb(21, 40, 254);
}