.navbar-expand {
    height: 60px !important;
}

.ul_user li a {
    color: rgb(110, 110, 110) !important;
    font-size: 16px;
    text-decoration: none;
}

.card-header {
    margin: 0;
}

.login-forgot-password a {
    color: #007bff;
    font-size: 14px;
}

.splash-footer span {
    font-size: 14px;
}

.splash-footer span a {
    color: #007bff;
}

#navbar {
    margin-top: 50px !important;
    background: #007bff;
}

#navbarmain ul li a {
    color: white !important;
}


/* 
fotter */

.widget {
    background-color: #f4f9fc;
}