.tab-select {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 0px;
    padding-right: 10px;
    font-size: 16px;
    color: #45C3D2;
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
}

.tab-select:focus {
    outline: none;
    box-shadow: 0 0 5px #999999;
}

.tab-select option {
    background-color: #ffffff;
    color: #555555;
}

.tab-select option:hover {
    background-color: #e5e5e5;
}

.btn-ca {
    margin: 5px 2px;
    font-size: 13px;
    background: rgb(214, 214, 214);
    padding: 7px 15px;
    color: #555;
    font-weight: 600;
    border: none;
    border-radius: 2px;
}

.btn-ca:hover {
    background-color: rgb(214, 214, 214);
    border: none;
    box-shadow: none;
    border: 2px solid #45C3D2;
    color: #555;
}