.pagination {
    justify-content: center;
}

.pagination .active {
    background-color: blue;
    color: white;
}

.pagination .page-item .page-link {
    height: 40px;
    background: #ffffff;
    text-align: center;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 13px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}