.ul_user li a {
    color: rgb(110, 110, 110) !important;
    font-size: 16px;
    text-decoration: none;
}

.card-header {
    margin: 0;
}

.login-forgot-password a {
    color: #007bff;
    font-size: 14px;
}

.splash-footer span {
    font-size: 14px;
}

.splash-footer span a {
    color: #007bff;
}

#navbar {
    margin-top: 50px !important;
    background: #007bff;
}

#navbarmain ul li a {
    color: white !important;
}

.dk_phong_kham {
    display: none;
}

.form-phong-kham .form-group .preview {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
}

.form-phong-kham .form-group .preview img {
    width: 100%;
    height: 372px;
    object-fit: scale-down;
    margin-bottom: 20px;
}

.btn-primary {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}


/* 
fotter */

.widget {
    background-color: #f4f9fc;
}