.tong {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-body .img-bac-si {
    border-radius: 50% !important;
}

.line {
    height: 2px;
    background-color: #c7c7c7;
}

.message_dat_lich {
    margin-top: 10px;
}

.message_dat_lich h4 {
    color: aqua;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button_dat_lich button {
    width: 100%;
}

.border_dat_lich {
    border: 2px solid rgb(47, 241, 231);
    border-radius: 5px;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.border_dat_lich .img_dat_lich {
    display: inline-block;
    margin-bottom: 50px;
}

.border_dat_lich .message_dat_lich {
    margin: 50px 0px;
}

.border_dat_lich .message_dat_lich h4 {
    color: aqua;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.border_dat_lich .message_dat_lich h5 {
    margin-top: 20px;
    color: #555;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}