#carouselExampleControls {
    position: relative;
}

#carouselExampleControls .product-tab {
    margin: 0 20px;
}

#carouselExampleControls .carousel-item .product-tab-item {
    border: none;
}

#carouselExampleControls .carousel-item .product-tab-item h5 a {
    text-decoration: none;
}

#carouselExampleControls button {
    width: 50px;
    height: 50px;
    background-color: rgb(101, 101, 101);
    border: none;
    vertical-align: middle;
    position: absolute;
    top: 50%;
}

#carouselExampleControls button span {
    background-color: rgb(101, 101, 101);
}

.chuyen_khoa_all .text-right a {
    text-decoration: none;
    font-size: 14px;
}