.card-body {
    padding: 0;
}

.lich_kham {
    padding: 20px;
}

.lich_kham_item {
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.lich_kham_item .lich_kham_img {
    margin-bottom: 20px;
}

.lich_kham_item .lich_kham_img img {
    width: 50%;
    height: 50%;
    border-radius: 100%;
}

.lich_kham_content h5 {
    font-size: 13px;
    color: #555;
    font-weight: 400;
}

.lich_kham_content h5 i {
    font-size: 16px;
    margin-right: 15px;
}

.lich_kham_content span {
    font-size: 11px;
}

.lich_kham_content .text-dia-chi {
    display: inline;
}

.text-right a {
    color: rgb(69, 96, 250);
    text-decoration: none;
}

.text-right a:hover {
    color: rgb(253, 81, 81);
}