@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.tong {
    margin-top: -40px;
    background-color: #eee;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #2a2a2a;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
}

#sidebar .sidebar-header img {
    border-radius: 100%;
    margin-bottom: 10px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #007bff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #007bff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #007bff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.list-unstyled li.li-items a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    padding-left: 30px !important;
    background: #fff;
}

.list-unstyled li a i {
    font-size: 20px;
}

ul ul a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    background: #fff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 17px !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(75, 75, 75) !important;
}

ul.CTAs a:hover {
    background-color: red !important;
}

ul.CTAs a i {
    font-size: 15px !important;
}

a.download {
    background: #fff;
    color: #007bff;
}

a.article,
a.article:hover {
    background: #007bff !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.image_add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_add #file-input {
    display: none;
}

.image_add .preview {
    width: 525px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
}

.image_add img {
    width: 100%;
    height: 320px;
    object-fit: scale-down;
    margin-bottom: 20px;
}

.image_add .label_input {
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(101, 101, 255);
}

.select {
    height: 45px;
}