.tong {
    background-color: #eee;
}

.tt-bac-si {
    padding: 20px 0px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.tt-bac-si .tt-bac-si-all {
    display: flex;
}

.tt-bac-si .tt-bac-si-all img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.tt-bac-si-all .tt-bac-si-content {
    padding-top: 10px;
    padding-left: 20px;
}

.tt-bac-si-all .tt-bac-si-content h5 {
    color: #555;
    font-weight: 300;
}

.tt-bac-si-all .tt-bac-si-content h6 {
    text-transform: uppercase;
    color: #45C3D2;
    font-size: 14px;
}

.tt-bac-si-all .tt-bac-si-content p {
    color: #555;
    font-size: 13px;
}

.gia_kham {
    margin: 25px 0px;
}

.gia_kham .detal_gia button {
    width: 100%;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 2px;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
    font-weight: 600;
}

.hidden {
    display: none;
}

.activate_check {
    background-color: #45C3D2 !important;
}

.custom-lable {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.custom-input {
    margin-right: 5px;
    font-size: 40px;
}

.custom-span {
    font-weight: 400;
    text-transform: uppercase;
}

.tt-gia-kham .tt-gia-kham-inline {
    padding: 15px 2px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    background-color: #eee;
    border-radius: 5px;
}

.tt-gia-kham .tt-gia-kham-inline .line {
    display: block;
    height: 2px;
    background: #555;
    margin: 5px 2px;
}