.card-body {
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.lich_kham {
    padding: 20px;
}

.lich_kham_item .lich_kham_img {
    margin-bottom: 20px;
}

.lich_kham_item .lich_kham_img img {
    width: 50%;
    height: 50%;
}

.lich_kham_content .lich-kham-chu {
    margin: 0px;
    padding: 0px;
}

.tab-lich_kham {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
}

.tab-lich_kham .active {
    color: rgb(17, 249, 234);
    border-bottom: 2px solid rgb(26, 26, 29);
}

.hidden-tab {
    display: none;
}

