{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">

<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_page_bac_si.css'%}">
<!-- Main Stylesheet -->
<div class="be-wrapper">
    <div class="container">
      <div class="page-head" style ="margin-top:-40px">
        <h2 class="page-head-title text-center">Đăng kí tài khoản bác sĩ</h2>
      </div>
      <div class="main-content container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-border-color card-border-color-primary">
                <form id="form" method="POST" enctype='multipart/form-data' action="{% url 'bacsi_dang_ki_cho_duyet' %}" data-parsley-validate=""  class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="card-header card-header-divider"><h4 class="text-center">Thông tin bác sĩ</h4></div>
                    <div class="card-body">
                        <div class="row form-bac-si">
                            <div class="form-group col-md-6">
                                <label for="inputUserName">Chức vụ</label>
                                <input class="form-control"  type="text" name="chucvu" required placeholder="Chức vụ của bác sĩ" autocomplete="off">
                                <div class="invalid-feedback">
                                    Không thể để trống
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputChuyenKhoa">Khoa</label>
                                <select name="chyenkhoa" class="form-control">
                                    <option value="#" selected="">chọn chuyên khoa</option>
                                    {% for chuyen_khoa in chuyen_khoas%}
                                        <option value="{{chuyen_khoa.id}}">{{chuyen_khoa.tenkhoa}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputHocham">Học hàm</label>
                                <select class="form-control" id="hocham"  name="hocham">
                                    <option selected="" value="0">--Chọn học hàm--</option>
                                    <option value="1">Phó giáo sư</option>
                                    <option value="2">Giáo sư</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputhocvi">Học vị</label>
                                <select class="form-control" name="hocvi">
                                    <option selected="" value="0">--Chọn học vị--</option>
                                    <option value="1">Thạc sĩ</option>
                                    <option value="2">Tiến sĩ</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputGioithieu">Giới thiệu (Giới thiệu ngắn về bản thân bác sĩ : 100 từ)</label>
                                <textarea class="form-control" name="gioithieu" rows="3" required></textarea>
                                <div class="invalid-feedback">
                                    Vui lòng thêm giới thiệu
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Thông tin thêm </label>
                                <textarea name="thongtinchung" class="ckeditor" class="" cols="30" rows="10" ></textarea>
                                <div class="invalid-feedback">
                                    Vui lòng thêm thông tin 
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputEmail">Chọn phòng khám trên có sẵn trên hệ thống</label>
                                <select class="form-control" name="phongkham">
                                    <option value="" selected="">--Chọn phòng khám--</option>
                                    {% for phong_kham in phong_khams %}
                                        <option value="{{phong_kham.id}}">{{phong_kham.tenphongkham}}</option>
                                    {% endfor%}
                                    </select>
                            </div>
                            <div class='form-group col-md-12'>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"  id="phong_kham_new" name ="phong_kham_new">
                                    <label class="custom-control-label" for="phong_kham_new">Chưa có phòng khám</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class ="dk_phong_kham" id="dk_phong_kham">
                        <div class="card-header card-header-divider"><h4 class="text-center">Thông tin phóng khám đăng kí</h4></div>
                        <div class="card-body">
                            <div class="row form-phong-kham">
                                <div class="form-group col-md-6">
                                    <label for="inputUserName">Tên phòng khám</label>
                                    <input class="form-control"  type="text" name="ten_phong_kham" id="ten_phong_kham"  placeholder="Tên Phòng Khám" autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputUserName">Số điện thoại</label>
                                    <input class="form-control"  type="number" name="sdt_phong_kham" id="sdt_phong_kham" placeholder="Số điện thoại liên hệ" autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputUserName">Email</label>
                                    <input class="form-control"  type="email" name="email_phong_kham" id="email_phong_kham"  placeholder="Email phòng khám" autocomplete="off">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputUserName">Địa chỉ phòng khám</label>
                                    <input class="form-control"  type="text" name="dia_chi_phong_kham" id="diachi_phong_kham"  placeholder="Địa chỉ phòng khám" autocomplete="off">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="inputGioithieu">Giới thiệu sơ lượt về phòng khám (100 từ)</label>
                                    <textarea class="form-control" name="gioi_thieu_phong_kham" id="gioithieu_phongkham" rows="3"></textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputGioithieu">Mô tả về phòng khám (lĩnh vực khám, các dịch vụ và thông tin thêm)</label>
                                    <textarea class="form-control" name="mo_ta_phong_kham" id="mota_phong_kham" rows="3"></textarea>
                                
                                </div>
                                <div class="form-group col-md-6 ">
                                    <label for="inputGioithieu">Tải lên ảnh đại diện phòng khám</label>
                                    <div class="col-12 col-sm-6">
                                    <input class="inputfile" accept="image/*" type="file" id="file-input"  name="image_phong_kham" />
                                    <label class="btn-primary" for="file-input"> <i class="mdi mdi-upload"></i><span>Browse files...</span></label>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputtenKhoa">Xem trước hình ảnh</label>
                                    <div class="image_add form-group">
                                        <div class="preview text-center">
                                            <img id="img-preview" src="{% static 'admin/assets/img/362x239.png' %}" />
                                        </div>
                                    </div>
                                </div>

                                <div class='form-group col-md-12'>
                                        
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12" >
                        <button class="btn btn-space btn-primary" type="submit">Đăng kí bác sĩ</button>
                        <br>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\js_custom.js'%}"></script>
<script src="{% static 'user\js\js_bac_si.js'%}"></script> 


<script>
  ClassicEditor
    .create( document.querySelector( 'textarea[name="thongtinchung"]' ) )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );

    ClassicEditor
    .create( document.querySelector( 'textarea[name="gioi_thieu_phong_kham"]' ) )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );

    ClassicEditor
    .create( document.querySelector( 'textarea[name="mo_ta_phong_kham"]' ) )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );
</script>

{% endblock %}

