{% extends 'user/base.html' %}
{% load static %}
   
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\datetimepicker\css\bootstrap-datetimepicker.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\select2\css\select2.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'admin\assets\lib\summernote\summernote-bs4.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'user/plugins/icofont/icofont.min.css'%}">
<link rel="stylesheet" href="{% static 'user/css/style.css'%}">
<link rel="stylesheet" href="{% static 'admin\assets\css\app.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'user/css/style_page_bac_si.css'%}">

<!-- Main Stylesheet -->
<div class="be-wrapper">
    <div class="container">
        {% include 'user/include/alert.html' %}
        <div class="page-head" style ="margin-top:-40px">
            <h2 class="page-head-title text-center">Tài khoản của bạn đang được xét duyệt</h2>
        </div>
        <div class="main-content container-fluid">
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-border-color card-border-color-primary">
                    {%if status == 1 %}
                    <div class="card-header card-header-divider"><h3 class="text-center" style="color:blue;">Tài khoản của bạn đã được đăng kí</h3></div>
                    <div class="card-body">
                        <p>Cảm ơn bác sĩ đã đăng ký tài khoản của chúng tôi!</p>
                        <p>Chúng tôi đã nhận được thông tin của bác sĩ và đang xử lý yêu cầu. Tuy nhiên, để đảm bảo tính bảo mật và chính xác của thông tin, quá trình xác thực tài khoản sẽ mất một chút thời gian.</p>
                        <p>Chúng tôi sẽ thông báo cho quý bác sĩ khi quá trình xác thực hoàn tất. Mong quý khách vui lòng kiên nhẫn chờ đợi.</P>
                        <p><strong>P/S: Thời gian xét duyệt không qua 72 giờ. Vui lòng kiểm tra eamil thường xuyên!</strong></p>
                        <h4>Một lần nữa, cảm ơn quý bác sĩ đã tin tưởng và sử dụng dịch vụ của chúng tôi!</h4>
                    </div>
                    {% else %}
                    <div class="card-header card-header-divider"><h3 class="text-center" style="color:red;">Quá trình đăng kí đã giặp lỗi!</h3></div>
                    <div class="card-body">
                        <p>Quá trình đăng kí tài khoản của bạn đã giặp vấn đề!</p>
                        <p>Chúng tôi xin lỗi vì sự bất tiện này nhưng hiện tại quá trình đăng kí của bạn đã giặp lỗi và tài khoản của bạn chưa được đăng kí trên hệ thống</p>
                        <p>Bạn vui lòng quay lại trang đăng kí để thử lại quá trình đăng kí <a href="{% url 'bacsi_dang_ki_bac_si' %}">tại đây.</a></P>
                        <p>Rất xin lỗi quý bác sĩ vì sự bất tiện này!</p>
                        <h4>Một lần nữa, cảm ơn quý bác sĩ đã tin tưởng và sử dụng dịch vụ của chúng tôi!</h4>
                    </div>
                    {% endif%}
                    <div class="container">
                        <div class="row">
                            <div class='col-lg-12 col-sm-12 col-md-12'>
                                <a href="{% url 'user_home' %}" class="btn btn-primary">Quay lại trang chủ</a>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>




<script src="{% static 'admin\assets\lib\jquery\jquery.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\perfect-scrollbar\js\perfect-scrollbar.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap\dist\js\bootstrap.bundle.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\app.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\datetimepicker\js\bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\select2\js\select2.full.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bs-custom-file-input\bs-custom-file-input.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\bootstrap-slider\bootstrap-slider.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\summernote\summernote-bs4.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\lib\parsley\parsley.min.js'%}" type="text/javascript"></script>
<script src="{% static 'admin\assets\js\js_custom.js'%}"></script>
<script src="{% static 'user\js\js_bac_si.js'%}"></script> 


{% endblock %}

